openapi: 3.2.0
info:
  title: Soracom Resource Summary API
  version: 20250903-043502
  description: 'Operations tagged ResourceSummary across 2 of this provider''s published API definitions: soracom-analysis-query-api-openapi.yml, soracom-platform-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Japan coverage production API endpoint
  url: https://api.soracom.io/v1
- description: Global coverage production API endpoint
  url: https://g.api.soracom.io/v1
tags:
- name: ResourceSummary
paths:
  /resource_summaries/{resource_summary_type}:
    get:
      description: Obtain a resource summary information identified by resource_summary_type.
      operationId: getResourceSummary
      parameters:
      - description: 'The type of the resource summary.


          - `simsPerStatus`: The number of IoT SIMs per status.

          '
        in: path
        name: resource_summary_type
        required: true
        schema:
          enum:
          - simsPerStatus
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSummary'
          description: The resource summary was found.
        '404':
          description: No such resource summary.
      security:
      - api_key: []
        api_token: []
      summary: Get the resource summary identified by resource_summary_type
      tags:
      - ResourceSummary
      x-soracom-cli:
      - resource-summaries get
    servers:
    - description: Japan coverage production API endpoint
      url: https://api.soracom.io/v1
    - description: Global coverage production API endpoint
      url: https://g.api.soracom.io/v1
components:
  schemas:
    ResourceSummaryItemValue:
      properties:
        name:
          description: "The name of the resource summary item value.\n\n- if `resourceSummaryType` is `simsPerStatus`:\n  - `readySims`: The number of IoT SIMs of which status is ready.\n  - `activeSims`: The number of IoT SIMs of which status is active.\n  - `inactiveSims`: The number of IoT SIMs of which status is inactive.\n  - `standbySims`: The number of IoT SIMs of which status is standby.\n  - `suspendedSims`: The number of IoT SIMs of which status is suspended.\n"
          example: activeSims
          type: string
        value:
          description: The value of the resource summary item value.
          example: 1
          type: number
      type: object
    ResourceSummaryItemDimension:
      properties:
        name:
          description: The name of the resource summary item dimension.
          type: string
        value:
          description: The value of the resource summary item dimension.
          type: string
      type: object
    ResourceSummary:
      properties:
        resourceSummaryItems:
          description: A list of resource summary items.
          items:
            $ref: '#/components/schemas/ResourceSummaryItem'
          type: array
        resourceSummaryType:
          description: 'The type of the resource summary.


            - `simsPerStatus`: The number of IoT SIMs per status.

            '
          example: simsPerStatus
          type: string
      type: object
    ResourceSummaryItem:
      properties:
        dimensions:
          description: A list of dimensions for the resource summary item.
          example: []
          items:
            $ref: '#/components/schemas/ResourceSummaryItemDimension'
          type: array
        updatedTime:
          description: The last updated time of the resource summary item (UNIX time in milliseconds).
          example: 1654007722000
          format: int64
          type: integer
        values:
          description: A list of values for the resource summary item.
          items:
            $ref: '#/components/schemas/ResourceSummaryItemValue'
          type: array
      type: object
  securitySchemes:
    api_key:
      description: 'API key for authentication. Obtain this from the Soracom User Console or via the Auth API.

        Required in combination with an API token for all authenticated requests.

        '
      in: header
      name: X-Soracom-API-Key
      type: apiKey
    api_token:
      description: 'API token for authentication. This token has an expiration time and must be refreshed periodically.

        Required in combination with an API key for all authenticated requests.'
      in: header
      name: X-Soracom-Token
      type: apiKey
x-refined-from:
- soracom-analysis-query-api-openapi.yml
- soracom-platform-api-openapi.yml
