openapi: 3.2.0
info:
  description: SORACOM SANDBOX API v1
  title: 'SORACOM SANDBOX API Sandbox: Operator API'
  version: 20230923-005714
servers:
- url: https://api-sandbox.soracom.io/v1
tags:
- name: 'API Sandbox: Operator'
paths:
  /sandbox/init:
    post:
      description: Performs complex signup process at once, including registering dummy payment method. Specify `email` and `password` for an operator which will be created on sandbox, `authKeyId` and `authKey` for a real operator on the production environment. An API Key and an API Token will be included in the response if successful. Use the API Key and the API Token to requests afterwards.
      operationId: sandboxInitializeOperator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandboxInitRequest'
        description: request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sandboxAuthResponse'
          description: Successfully created a sandbox operator.
        '400':
          description: Email address, AuthKeyId, or AuthKey is not correct.
      summary: Creates an operator account
      tags:
      - 'API Sandbox: Operator'
      x-soracom-cli:
      - sandbox init
  /sandbox/operators/{operator_id}:
    delete:
      description: Deletes the specified operator.
      operationId: sandboxDeleteOperator
      parameters:
      - description: Operator ID
        in: path
        name: operator_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Operator does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Deletes an operator
      tags:
      - 'API Sandbox: Operator'
      x-soracom-cli:
      - sandbox operators delete
  /sandbox/operators/token/{email}:
    post:
      description: Retrieves a 'signup token' for registration confirmation. Please specify a pair of AuthKeyId and AuthKey of a SAM user on the production environment to check if the caller has a valid account on it.
      operationId: sandboxGetSignupToken
      parameters:
      - description: Email
        in: path
        name: email
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandboxGetSignupTokenRequest'
        description: Authentication request.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sandboxGetSignupTokenResponse'
          description: Successfully retrieved signup token.
        '400':
          description: Email address, AuthKeyId, or AuthKey is not correct.
      summary: Gets a signup token
      tags:
      - 'API Sandbox: Operator'
      x-soracom-cli:
      - sandbox operators get-signup-token
components:
  schemas:
    sandboxInitRequest:
      properties:
        authKey:
          type: string
        authKeyId:
          type: string
        coverageTypes:
          description: 'Coverage type.

            - `g`: Global coverage

            - `jp`: Japan coverage

            '
          items:
            enum:
            - g
            - jp
            type: string
          type: array
        email:
          type: string
        password:
          type: string
        registerPaymentMethod:
          default: true
          type: boolean
      required:
      - email
      - password
      - authKeyId
      - authKey
      type: object
    sandboxGetSignupTokenRequest:
      properties:
        authKey:
          type: string
        authKeyId:
          type: string
      type: object
    sandboxGetSignupTokenResponse:
      properties:
        token:
          type: string
      required:
      - token
      type: object
    sandboxAuthResponse:
      properties:
        apiKey:
          type: string
        operatorId:
          type: string
        token:
          type: string
        userName:
          type: string
      type: object
