openapi: 3.0.0
info:
  title: Soracom SIM Management API
  description: Manage Soracom Air for Cellular SIMs and Subscribers including session control, plan changes, group binding,
    and lifecycle operations.
  version: 20250903-043502
servers:
- description: Japan coverage production API endpoint
  url: https://api.soracom.io/v1
- description: Global coverage production API endpoint
  url: https://g.api.soracom.io/v1
paths:
  /sims:
    get:
      description: 'Returns a list of SIMs. If the total number of SIMs does not fit in one page, a URL for accessing the
        next page is returned in the `link` header of the response.

        '
      operationId: listSims
      parameters:
      - description: Maximum number of SIMs to retrieve. However, the number of SIMs returned may be less than the specified
          value.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The value of the `x-soracom-next-key` header from the previous response. Specify this to retrieve the
          next page.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sim'
                type: array
          description: List of IoT SIMs.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: List SIMs
      tags:
      - Sim
      x-soracom-cli:
      - sims list
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
    post:
      description: Creates a new Soracom Arc virtual SIM/Subscriber. For details, please refer to [Creating Virtual SIMs](/en/docs/arc/configuration/).
      operationId: createSim
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSimRequest'
        description: Virtual SIM/Subscriber creation request.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: A virtual SIM/Subscriber has been created.
      security:
      - api_key: []
        api_token: []
      summary: Creates a new virtual SIM/Subscriber
      tags:
      - Sim
      x-soracom-cli:
      - sims create
  /sims/{sim_id}:
    get:
      description: Gets information about the IoT SIM.
      operationId: getSim
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The IoT SIM's detailed information.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Gets information about the IoT SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims get
  /sims/{sim_id}/activate:
    post:
      description: Changes status of specified SIM to "active".
      operationId: activateSim
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Activate SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims activate
  /sims/{sim_id}/credentials/arc:
    delete:
      deprecated: true
      description: '(DEPRECATED) Removes the credentials (public key) for Soracom Arc from the SIM.


        **Warning**: Do not use this API.

        '
      operationId: removeArcSimCredentials
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The credentials for Arc have been removed.
      security:
      - api_key: []
        api_token: []
      summary: (DEPRECATED) Removes the credentials for Arc from a SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims remove-arc-credentials
    post:
      deprecated: true
      description: '(DEPRECATED) Attaches the credentials (public key) for Soracom Arc to the SIM.


        **Warning**: Please use the `renewArcSimCredentials` API instead.

        '
      operationId: attachArcSimCredentials
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArcCredentialAttachRequest'
        description: Arc credential attach request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcCredentialAttachResponse'
          description: Arc credential attach response
      security:
      - api_key: []
        api_token: []
      summary: (DEPRECATED) Attaches the credentials for Arc to a SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims attach-arc-credentials
    put:
      description: Attaches Arc credential to a SIM and re-initialize a session at once.
      operationId: renewArcSimCredentials
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArcCredentialRenewRequest'
        description: Arc credential attach request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcCredentialRenewResponse'
          description: Arc credential attach response
      security:
      - api_key: []
        api_token: []
      summary: Renew the credentials for Arc to a SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims renew-arc-credentials
  /sims/{sim_id}/data:
    get:
      description: 'Returns a list of data entries sent to Harvest Data from a SIM that match certain criteria. If the total
        number of data entries does not fit in one page, a URL for accessing the next page is returned in the `link` header
        of the response.

        '
      operationId: getDataFromSim
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: Start time for the data entries search range (UNIX time in milliseconds).
        in: query
        name: from
        required: false
        schema:
          type: integer
      - description: End time for the data entries search range (UNIX time in milliseconds).
        in: query
        name: to
        required: false
        schema:
          type: integer
      - description: Sort order of the data entries. Either descending (latest data entry first) or ascending (oldest data
          entry first).
        in: query
        name: sort
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
      - description: Maximum number of data entries to retrieve (value range is 1 to 1000). The default is `10`.
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: The value of the `x-soracom-next-key` header from the previous response. Specify this to retrieve the
          next page.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataEntry'
                type: array
          description: A list of data entries.
      security:
      - api_key: []
        api_token: []
      summary: Get data sent from a SIM to Harvest Data.
      tags:
      - Sim
      x-soracom-cli:
      - sims get-data
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /sims/{sim_id}/deactivate:
    post:
      description: Changes status of specified SIM to "inactive".
      operationId: deactivateSim
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Deactivate SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims deactivate
  /sims/{sim_id}/delete_session:
    post:
      description: 'Deletes and then reconnects the session for the specified SIM.


        **Warning**: If you attempt to delete the session for an offline IoT SIM, the following error message will be returned:


        ```

        Error: {"code":"SEM0016","message":"The specified subscriber is offline"}

        ```

        '
      operationId: deleteSimSession
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Delete and reconnect the Session
      tags:
      - Sim
      x-soracom-cli:
      - sims delete-session
  /sims/{sim_id}/disable_termination:
    post:
      description: Enables termination protection for the specified IoT SIM (disables termination).
      operationId: disableSimTermination
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Disables termination of the SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims disable-termination
  /sims/{sim_id}/downlink/http:
    post:
      description: 'Sends an HTTP request to a device using an IoT SIM and returns the HTTP response from the device in the
        API response body.

        '
      operationId: sendDownlinkHttp
      parameters:
      - description: SIM ID of the target IoT SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            example:
              method: GET
              path: /readyz?verbose
              port: 6443
              skipVerify: true
              ssl: false
            schema:
              $ref: '#/components/schemas/SimDownlinkHttpRequest'
        description: Configuration of the HTTP request to send to the device.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimDownlinkHttpResponse'
          description: 'The HTTP request to the device was successful. The HTTP status code, headers, and body returned by
            the device can be checked in the response body.

            '
        '404':
          description: The specified IoT SIM does not exist.
        '422':
          description: "- The HTTP request to the device failed for one of the following reasons:\n  - Could not establish\
            \ a network connection with the device.\n  - The device refused the HTTP connection.\n\n- The HTTP response from\
            \ the device was not received for one of the following reasons:\n  - The device did not return a response within\
            \ 10 seconds.\n  - The HTTP response (including URL, headers, and body) exceeded 5 MiB.\n"
      security:
      - api_key: []
        api_token: []
      summary: Send an HTTP request to a device using an IoT SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims downlink-http
  /sims/{sim_id}/downlink/ping:
    post:
      description: Sends ICMP ping requests to a SIM.
      operationId: sendDownlinkPing
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            example:
              numberOfPingRequests: 5
              timeoutSeconds: 2
            schema:
              $ref: '#/components/schemas/DownlinkPingRequest'
        description: Options for ping requests
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownlinkPingResponse'
          description: Result of the ping
      security:
      - api_key: []
        api_token: []
      summary: Sends ping requests to a SIM.
      tags:
      - Sim
      x-soracom-cli:
      - sims downlink-ping
  /sims/{sim_id}/downlink/rtsp:
    post:
      description: 'Sends a command to a device using an IoT SIM and returns a response based on specified command and options
        in request.


        - An error occurs if the command does not complete within 10 seconds.

        '
      operationId: sendDownlinkRtsp
      parameters:
      - description: SIM ID of the target IoT SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            example:
              authentication:
                password: pass
                type: basic
                username: user
              command: snapshot
              port: 544
            schema:
              $ref: '#/components/schemas/SimDownlinkRtspRequest'
        description: Command for the RTSP request
        required: true
      responses:
        '200':
          content:
            image/jpeg:
              schema:
                $ref: '#/components/schemas/SimDownlinkRtspSnapshotImageResponse'
          description: 'Command executed successfully. Response body will differ based on command and options in request.

            '
        '400':
          description: 'Invalid request.

            '
        '403':
          description: 'Failed to execute command due to authentication error. Please check the authentication information
            for Soracom API and RTSP server.

            '
        '404':
          description: The specified IoT SIM does not exist.
        '422':
          description: 'Failed to execute command because the video stream received by Soracom API from the RTSP server is
            not H.264 encoded. Please verify that the video stream sent by your RTSP server is H.264 encoded.

            '
      security:
      - api_key: []
        api_token: []
      summary: Send a command to a RTSP stream to a device using an IoT SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims downlink-rtsp
  /sims/{sim_id}/downlink/ssh:
    post:
      description: 'Connects to a device using an IoT SIM via SSH, executes a specified command, and returns the standard
        output and standard error output in the API response body.

        '
      operationId: sendDownlinkSsh
      parameters:
      - description: 'SIM ID of the target IoT SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).

          '
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            examples:
              (1) Connect using public key authentication to list files.:
                description: 'Connects to the device using public key authentication and retrieves a list of files.


                  The private key should be specified as a string in the `key` field. Use `\n` to represent newline characters.

                  '
                value:
                  authentication:
                    key: '-----BEGIN OPENSSH PRIVATE KEY-----

                      b3B ... 1Fw=

                      -----END OPENSSH PRIVATE KEY-----'
                    type: publickey
                  command: ls -l
                  port: 22
                  username: username
              (2) Connect using password authentication to list files.:
                description: 'Connects to the device using password authentication and retrieves a list of files.

                  '
                value:
                  authentication:
                    password: secret_value
                    type: password
                  command: ls -l
                  port: 22
                  username: username
              (3) Connect using password authentication to retrieve system logs.:
                description: "Connects to the device using password authentication and retrieves system logs using the `journalctl`\
                  \ command.\n\n```json\n{\n  \"exitcode\":0,\n  \"stdout\":\"Feb 19 09:35:49 $HOST sshd[51829]: pam_env(sshd:session):\
                  \ deprecated reading of user environment enabled\\nFeb 19 09:35:50 $HOST sshd[51829]: pam_unix(sshd:session):\
                  \ session closed for user $USER\\nFeb 19 09:35:50 $HOST systemd-logind[480]: Session 620 logged out. Waiting\
                  \ for processes to exit.\\nFeb 19 09:35:50 $HOST systemd[1]: session-620.scope: Deactivated successfully.\\\
                  nFeb 19 09:35:50 $HOST systemd-logind[480]: Removed session 620.\\nFeb 19 09:36:32 $HOST sshd[51837]: Accepted\
                  \ password for $USER from 100.127.10.16 port 47281 ssh2\\nFeb 19 09:36:32 $HOST sshd[51837]: pam_unix(sshd:session):\
                  \ session opened for user $USER(uid=1000) by (uid=0)\\nFeb 19 09:36:32 $HOST systemd-logind[480]: New session\
                  \ 621 of user $USER.\\nFeb 19 09:36:32 $HOST systemd[1]: Started session-621.scope - Session 621 of User\
                  \ $USER.\\nFeb 19 09:36:32 $HOST sshd[51837]: pam_env(sshd:session): deprecated reading of user environment\
                  \ enabled\\n\",\n  \"stderr\":\"\"\n}\n```\n"
                value:
                  authentication:
                    password: secret_value
                    type: password
                  command: journalctl -n
                  port: 22
                  username: pi
            schema:
              $ref: '#/components/schemas/SimDownlinkSshRequest'
        description: Configuration of the SSH connection and the command to execute.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimDownlinkSshResponse'
          description: The command was executed successfully. The command's exit code, standard output, and standard error
            output can be checked in the response body.
        '422':
          description: "- The command execution failed for one of the following reasons:\n  - Could not establish a network\
            \ connection with the device.\n  - The device refused the SSH connection.\n\n- The response from the device was\
            \ not received for one of the following reasons:\n  - The device did not return a response within 10 seconds.\n\
            \  - The command output (including standard output and standard error output) exceeded 5 MiB.\n"
      security:
      - api_key: []
        api_token: []
      summary: Connect to a device using an IoT SIM via SSH and execute a specified command
      tags:
      - Sim
      x-soracom-cli:
      - sims downlink-ssh
  /sims/{sim_id}/downlink/tcp:
    post:
      description: 'Connects to a device using an IoT SIM via TCP, sends specified data, and returns data received from the
        device.


        - The maximum size of sent and received data is 5 MiB each.

        - If sending and receiving data is not completed within the time specified by `timeout`, an error will occur.

        '
      operationId: sendDownlinkTcp
      parameters:
      - description: 'SIM ID of the target IoT SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).

          '
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            example:
              connectionOptions:
                terminationPattern: T0sK
                terminationPatternEncoding: base64
                type: wait_for_pattern
              payload: SGVsbG8gV29ybGQ=
              payloadEncoding: base64
              port: 5000
              timeout: 5
            schema:
              $ref: '#/components/schemas/SimDownlinkTcpRequest'
        description: Options for TCP connection and data transmission/reception.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimDownlinkTcpResponse'
          description: Data transmission and response reception were successful. Check the response body for the response
            from the device.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICallErrorMessage'
          description: 'Invalid request.

            '
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICallErrorMessage'
          description: 'Authentication failed.

            '
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICallErrorMessage'
          description: The specified IoT SIM does not exist.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICallErrorMessage'
          description: Data transmission and reception failed.
      security:
      - api_key: []
        api_token: []
      summary: Connect to a device using an IoT SIM via TCP and send/receive data
      tags:
      - Sim
      x-soracom-cli:
      - sims downlink-tcp
  /sims/{sim_id}/downlink/udp:
    post:
      description: 'Sends specified data to a device using an IoT SIM via UDP.


        **Warning**: Unlike TCP, UDP communication lacks retransmission and sequencing mechanisms, which may lead to packet
        loss or out-of-order arrival.

        '
      operationId: sendDownlinkUdp
      parameters:
      - description: 'SIM ID of the target IoT SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).

          '
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            example:
              payload: SGVsbG8gV29ybGQ=
              payloadEncoding: base64
              port: 5000
            schema:
              $ref: '#/components/schemas/SimDownlinkUdpRequest'
        description: Options for UDP data transmission.
        required: true
      responses:
        '204':
          description: 'The data has been sent to the device.

            However, due to the nature of UDP, packet delivery is not guaranteed.

            '
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICallErrorMessage'
          description: 'Invalid request.

            '
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICallErrorMessage'
          description: 'Authentication failed.

            '
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICallErrorMessage'
          description: The specified IoT SIM does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Send data using IoT SIM via UDP
      tags:
      - Sim
      x-soracom-cli:
      - sims downlink-udp
  /sims/{sim_id}/enable_termination:
    post:
      description: Disables termination protection for the specified IoT SIM (enables termination).
      operationId: enableSimTermination
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Enables termination of the SIM.
      tags:
      - Sim
      x-soracom-cli:
      - sims enable-termination
  /sims/{sim_id}/events/sessions:
    get:
      description: 'Retrieves event history of session creation/modification/disconnection for the past 32 days for the specified
        SIM. If the total number of events does not fit in one page, a URL for accessing the next page is returned in the
        `link` header of the response.


        Check the current session using the [Sim:getSim API](#!/Sim/getSim). To check the current session with this API, check
        the value of `event` in the latest session history. Refer to [Subscriber Status](/en/docs/air/subscriber-status/)
        for the meaning of a session.

        '
      operationId: listSimSessionEvents
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: Start time (UNIX time in milliseconds) of the period to retrieve the session event history.
        in: query
        name: from
        required: false
        schema:
          type: integer
      - description: End time (UNIX time in milliseconds) of the period to retrieve the session event history.
        in: query
        name: to
        required: false
        schema:
          type: integer
      - description: Maximum number of event histories to retrieve. However, the number of event histories returned may be
          less than the specified value.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The value of the `x-soracom-next-key` header from the previous response. Specify this to retrieve the
          next page.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SessionEvent'
                type: array
          description: A list of session events.
      security:
      - api_key: []
        api_token: []
      summary: Retrieves session event history (session history)
      tags:
      - Sim
      x-soracom-cli:
      - sims session-events
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /sims/{sim_id}/packet_capture_sessions:
    get:
      description: Lists packet capture sessions associated with the SIM.
      operationId: listSimPacketCaptureSessions
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: The value of the `x-soracom-next-key` header from the previous response. Specify this to retrieve the
          next page.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      - description: Max number of results in a response.
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PacketCaptureSession'
                type: array
          description: List of packet capture sessions associated with the SIM
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Lists packet capture sessions associated with the SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims list-packet-capture-sessions
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
    post:
      description: Creates a packet capture session associated with the SIM.
      operationId: createSimPacketCaptureSession
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PacketCaptureSessionRequest'
        description: A packet capture session request.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureSession'
          description: The packet capture session associated with the SIM
        '400':
          description: Failed to create a packet capture session for the specified SIM
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Creates a packet capture session associated with the SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims create-packet-capture-session
  /sims/{sim_id}/packet_capture_sessions/{session_id}:
    delete:
      description: Deletes a packet capture session associated with the SIM.
      operationId: deleteSimPacketCaptureSession
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: Packet capture session ID
        in: path
        name: session_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureSession'
          description: Deleted the packet capture session
        '400':
          description: Failed to delete the packet capture session associated with the SIM
        '404':
          description: The packet capture session associated with the SIM was not found
      security:
      - api_key: []
        api_token: []
      summary: Deletes a packet capture session associated with the SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims delete-packet-capture-session
    get:
      description: Gets a packet capture session associated with the SIM.
      operationId: getSimPacketCaptureSession
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: Packet capture session ID
        in: path
        name: session_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureSession'
          description: The packet capture session associated with the SIM
        '404':
          description: The packet capture session associated with the SIM was not found
      security:
      - api_key: []
        api_token: []
      summary: Gets a packet capture session associated with the SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims get-packet-capture-session
  /sims/{sim_id}/packet_capture_sessions/{session_id}/stop:
    post:
      description: Stops a packet capture session associated with the SIM.
      operationId: stopSimPacketCaptureSession
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: Packet capture session ID
        in: path
        name: session_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureSession'
          description: The stopped packet capture session
        '400':
          description: The packet capture session can be stopped only when its status is CAPTURING
        '404':
          description: The packet capture session associated with the SIM was not found
        '500':
          description: The packet capture session could not be stopped
      security:
      - api_key: []
        api_token: []
      summary: Stops a packet capture session associated with the SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims stop-packet-capture-session
  /sims/{sim_id}/profiles/{iccid}/add_subscription:
    post:
      description: Add a new secondary subscription ([additional subscription](/en/docs/air/subscription-containers/#adding-a-subscription)
        or [virtual SIM/Subscriber](/en/docs/arc/configuration/#adding-a-virtual-sim-to-an-air-sim)) to the IoT SIM.
      operationId: addSubscription
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: ICCID of the target IoT SIM. For IoT SIMs that do not support eUICC, the ICCID and SIM ID are the same.
        in: path
        name: iccid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Adding planX3:
                value:
                  enable: true
                  subscription: planX3
                  type: cellular
              Adding virtual SIM/Subscriber:
                value:
                  subscription: planArc01
                  type: virtual
            schema:
              properties:
                enable:
                  description: 'In the case of [additional subscriptions](/en/docs/air/subscription-containers/), specify
                    whether to activate the additional subscription as soon as it has been downloaded. The default is `true`.

                    - `true`: Activate immediately.

                    - `false`: Keep inactive. Additional subscription will be activated at the next [network registration](/en/docs/air/basic-connectivity/#requesting-network-registration)
                    or [session](/en/docs/air/basic-connectivity/#requesting-data-session) registration.


                    Note that in the case of a virtual SIM/Subscriber, it is ignored.

                    '
                  type: boolean
                subscription:
                  description: 'Name of the secondary subscription to be added.

                    - `planP1`, `planX1`, `planX2`, `planX3`, `plan-US-max`: Additional Subscription

                    - `planArc01`: Virtual SIM/Subscriber

                    '
                  enum:
                  - planP1
                  - planX1
                  - planX2
                  - planX3
                  - plan-US-max
                  - planArc01
                  type: string
                type:
                  description: '- `virtual`: When `subscription` is `planArc01`.

                    - `cellular`: When `subscription` is other than `planArc01`.

                    '
                  enum:
                  - virtual
                  - cellular
                  type: string
              required:
              - subscription
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimProfile'
          description: The updated SIM profile
        '400':
          description: You specified a subscription that cannot be added. For example, `planP1` cannot be added to an IoT
            SIM in plan-D.
        '404':
          description: No such IoT SIM with the specified SIM ID and ICCID found.
      security:
      - api_key: []
        api_token: []
      summary: Adds a new secondary subscription to an IoT SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims add-subscription
  /sims/{sim_id}/profiles/{iccid}/subscribers/{imsi}/cancel_download:
    post:
      description: Cancel the OTA of the additional subscription before the OTA starts. Note that once the IoT SIM goes online
        and the OTA begins, it cannot be canceled.
      operationId: cancelSubscriptionContainerDownload
      parameters:
      - description: The SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      - description: The ICCID of the target subscription container.
        in: path
        name: iccid
        required: true
        schema:
          type: string
      - description: The IMSI of the target additional subscription.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionContainerStatus'
          description: A schema listing subscription containers and containing a map of PLMN codes to subscription containers.
        '404':
          description: The specified SIM ID, ICCID, or IMSI does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Cancel the OTA to the subscription container for an additional subscription
      tags:
      - Sim
      x-soracom-cli:
      - sims cancel-subscription-container-download
  /sims/{sim_id}/profiles/{iccid}/subscribers/{imsi}/terminate:
    post:
      description: Terminates subscription container. Currently this API supports only for virtual SIM/Subscribers for Soracom
        Arc.
      operationId: terminateSubscriptionContainer
      parameters:
      - description: SIM ID of the target subscription container.
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      - description: ICCID of the target subscription container.
        in: path
        name: iccid
        required: true
        schema:
          type: string
      - description: IMSI of the target subscription container.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '204':
          description: The subscription container has been terminated.
      security:
      - api_key: []
        api_token: []
      summary: Terminates subscription container
      tags:
      - Sim
      x-soracom-cli:
      - sims terminate-subscription-container
  /sims/{sim_id}/register:
    post:
      description: Registers an IoT SIM to an operator.
      operationId: registerSim
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSimRequest'
        description: A SIM registration request.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: SIM registration completed.
      security:
      - api_key: []
        api_token: []
      summary: Registers an IoT SIM to an operator
      tags:
      - Sim
      x-soracom-cli:
      - sims register
  /sims/{sim_id}/report_local_info:
    post:
      description: 'Gets SIM local information report.


        **Alert**: One SMS will be sent to the IoT device per request for SIM local information report. Sending SMS to IoT
        devices is charged. For more information on fees, refer to the following page

        - [Pricing & Fee Schedule](/en/docs/reference/fees/)

        '
      operationId: reportSimLocalInfo
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: Successful request to update SIM local information report. SIM local information reports are updated
            asynchronously upon successful reporting from the IoT SIM. Asynchronously updated information can be viewed in
            the Soracom User Console. For details, see [Check SIM Local Information Report](https://users.soracom.io/ja-jp/docs/air/get-local-info-report/)
            (Japanese).
        '400':
          description: The specified IoT SIM does not support the SIM local information reporting feature.
        '404':
          description: The specified IoT SIM does not exist for the specified coverage type.
      security:
      - api_key: []
        api_token: []
      summary: Gets SIM local information report
      tags:
      - Sim
      x-soracom-cli:
      - sims report-local-info
  /sims/{sim_id}/send_sms:
    post:
      description: Sends an SMS to the specified IoT SIM.
      operationId: sendSmsToSim
      parameters:
      - description: SIM ID of the target SIM to which the SMS will be sent. The SIM ID can be obtained from the [Sim:listSims
          API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            example:
              encodingType: 2
              payload: Test message
            schema:
              $ref: '#/components/schemas/SmsForwardingRequest'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsForwardingReport'
          description: SMS transmission accepted and completed. Returns the ID assigned to the message
        '400':
          description: The specified SIM does not support SMS API.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Send an SMS to an IoT SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims send-sms
  /sims/{sim_id}/sessions/arc:
    post:
      description: Creates a Soracom Arc session. If the session already exists, re-create it.
      operationId: createArcSession
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcSessionCreateResponse'
          description: Arc session created
        '400':
          description: Arc credentials missing
      security:
      - api_key: []
        api_token: []
      summary: Creates a Soracom Arc session
      tags:
      - Sim
      x-soracom-cli:
      - sims create-arc-session
  /sims/{sim_id}/set_expiry_time:
    post:
      description: Sets the expiration date and action for the specified IoT SIM.
      operationId: setSimExpiryTime
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      requestBody:
        content:
          application/json:
            example:
              expiryAction: deactivate
              expiryTime: 1893423600000
            schema:
              $ref: '#/components/schemas/ExpiryTime'
        description: Expiration date (UNIX time in milliseconds) and action after the update.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Sets expiry time of IoT SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims set-expiry-time
  /sims/{sim_id}/set_group:
    post:
      description: Adds a SIM to a SIM group.
      operationId: setSimGroup
      parameters:
      - description: ID of the target SIM. The SIM ID can be obtained using the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetGroupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: Detailed information of the updated SIM.
        '404':
          description: The specified SIM does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Adds a SIM to a SIM group
      tags:
      - Sim
      x-soracom-cli:
      - sims set-group
  /sims/{sim_id}/set_imei_lock:
    post:
      description: Sets IMEI that the SIM should be locked to.
      operationId: setSimImeiLock
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetImeiLockRequest'
        description: IMEI lock configuration for the SIM. (IMEI can be left blank for locking to the current IMEI of an online
          SIM.)
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '400':
          description: '- The IMEI string is invalid.

            - The IMEI is not specified even though the SIM is offline.

            '
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Sets IMEI lock configuration for the SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims set-imei-lock
  /sims/{sim_id}/set_to_standby:
    post:
      description: Changes status of specified SIM to "standby".
      operationId: setSimToStandby
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '400':
          description: The specified SIM does not support "standby."
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Set SIM to standby mode.
      tags:
      - Sim
      x-soracom-cli:
      - sims set-to-standby
  /sims/{sim_id}/statuses/history:
    get:
      description: List IoT SIM status operation history. Status operation history entry records what status operations were
        performed for which IMSI and which subscriptions, along with the operation time. It includes speed class, group ID,
        IoT SIM status, etc. If the total number of status operation history entry does not fit in one page, a URL for accessing
        the next page is returned in the `link` header of the response.
      operationId: listSimStatusHistory
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: Start time of the status operation history entry to be searched (UNIX time in milliseconds). If not specified,
          `from` is set to the oldest status operation history entry time of the target IoT SIM.
        in: query
        name: from
        required: false
        schema:
          type: integer
      - description: End time of the status operation history entry to be searched (UNIX time in milliseconds). If not specified,
          `to` is set to the current time.
        in: query
        name: to
        required: false
        schema:
          type: integer
      - description: The value of the `x-soracom-next-key` header from the previous response. Specify this to retrieve the
          next page.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      - description: Sort order of status operation history entry. Either descending (latest data entry first) or ascending
          (oldest data entry first).
        in: query
        name: sort
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
      - description: Maximum number of items to retrieve in one request. The response may contain fewer items than the specified
          limit.
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SimStatusHistoryResponse'
                type: array
          description: A list of status operation history entry of the IoT SIM.
        '400':
          description: Bad request.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: List IoT SIM status operation history
      tags:
      - Sim
      x-soracom-cli:
      - sims list-status-history
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /sims/{sim_id}/suspend:
    post:
      description: Changes status of specified SIM to "suspended".
      operationId: suspendSim
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Suspend SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims suspend
  /sims/{sim_id}/tags:
    put:
      description: 'Adds or updates tags for the specified IoT SIM.


        The name of the IoT SIM is registered as a tag with the key `name`.

        '
      operationId: putSimTags
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
            - tagName: name
              tagValue: '{Name of the IoT SIM}'
            schema:
              items:
                $ref: '#/components/schemas/TagUpdateRequest'
              type: array
        description: Array of tags to be added or updated.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Bulk Add or Update tags for an IoT SIM
      tags:
      - Sim
      x-sam-operationId: putTags
      x-soracom-cli:
      - sims put-tags
  /sims/{sim_id}/tags/{tag_name}:
    delete:
      description: Deletes a tag from the specified IoT SIM.
      operationId: deleteSimTag
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: 'Tag name to be deleted. This will be part of a URL path, so it needs to be percent-encoded. In JavaScript,
          specify the name after it has been encoded using encodeURIComponent().


          **Warning**: If you are using Soracom CLI, do not use URL encoding (percent-encoding).

          '
        in: path
        name: tag_name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deletion of specified tag complete.
        '404':
          description: The specified SIM or tag does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Deletes a tag from the specified SIM
      tags:
      - Sim
      x-sam-operationId: deleteTag
      x-soracom-cli:
      - sims delete-tag
  /sims/{sim_id}/terminate:
    post:
      description: 'Terminates the specified IoT SIM. Please use the [Sim:enableSimTermination API](#!/Sim/enableSimTermination)
        in advance to enable termination (remove termination protection).

        '
      operationId: terminateSim
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          format: SimId
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Terminate an IoT SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims terminate
  /sims/{sim_id}/testing/usage:
    get:
      description: Retrieves the usage information of "testing" status of the IoT SIM. Data can only be retrieved while the
        IoT SIM is in "testing" status.
      operationId: getTestingUsage
      parameters:
      - description: SIM ID of the target IoT SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestingUsage'
          description: Usage information of the IoT SIM in testing status.
        '404':
          description: No testing usage information found for the target IoT SIM.
      security:
      - api_key: []
        api_token: []
      summary: Get usage of IoT SIM in testing status
      tags:
      - Sim
      x-soracom-cli:
      - sims get-testing-usage
  /sims/{sim_id}/unset_expiry_time:
    post:
      description: Deletes expiry time of specified SIM and changes it to indefinite.
      operationId: unsetSimExpiryTime
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Change of specified SIM's expiry time to indefinite complete.
        '404':
          description: The specified SIM does not exist or the SIM does not have an expiry time.
      security:
      - api_key: []
        api_token: []
      summary: Deletes expiry time of the SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims unset-expiry-time
  /sims/{sim_id}/unset_group:
    post:
      description: Removes a SIM from a SIM group.
      operationId: unsetSimGroup
      parameters:
      - description: ID of the target SIM. The SIM ID can be obtained using the [Sim:listSims API](#/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: Detailed information of the updated SIM.
        '404':
          description: The specified SIM does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Removes a SIM from a SIM group
      tags:
      - Sim
      x-soracom-cli:
      - sims unset-group
  /sims/{sim_id}/unset_imei_lock:
    post:
      description: Unsets the IMEI lock of the specified SIM.
      operationId: unsetSimImeiLock
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Unsets IMEI lock of SIM
      tags:
      - Sim
      x-soracom-cli:
      - sims unset-imei-lock
  /sims/{sim_id}/update_speed_class:
    post:
      description: Updates the IoT SIM speed class.
      operationId: updateSimSpeedClass
      parameters:
      - description: SIM ID of the target SIM.
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpeedClassRequest'
        description: The speed class of the IoT SIM.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sim'
          description: The SIM's detailed information after the update.
        '400':
          description: The specified speed class does not exist to the subscription. For example, arc.standard cannot be specified
            for plan01s.
        '404':
          description: No such SIM found.
      security:
      - api_key: []
        api_token: []
      summary: Updates the IoT SIM speed class
      tags:
      - Sim
      x-soracom-cli:
      - sims update-speed-class
  /subscribers:
    get:
      description: 'Returns a list of subscribers that match certain criteria. If the total number of subscribers does not
        fit in one page, a URL for accessing the next page is returned in the `link` header of the response.

        '
      operationId: listSubscribers
      parameters:
      - description: Tag name for filtering the search (exact match).
        in: query
        name: tag_name
        required: false
        schema:
          type: string
      - description: Tag search string for filtering the search. Required when `tag_name` has been specified.
        in: query
        name: tag_value
        required: false
        schema:
          type: string
      - description: Tag match mode.
        in: query
        name: tag_value_match_mode
        required: false
        schema:
          default: exact
          enum:
          - exact
          - prefix
          type: string
      - description: 'Status for filtering the search. Can specify multiple values delimited by `|`. Valid values include:
          `active`, `inactive`, `ready`, `instock`, `shipped`, `suspended`, and `terminated`.'
        in: query
        name: status_filter
        required: false
        schema:
          type: string
      - description: 'Speed class for filtering the search. Can specify multiple values delimited by `|`. Valid values include:


          - `s1.minimum`

          - `s1.slow`

          - `s1.standard`

          - `s1.fast`

          - `s1.4xfast`

          - `s1.8xfast`

          - `u1.standard`

          - `u1.slow`

          - `t1.standard`

          - `arc.standard`

          '
        in: query
        name: speed_class_filter
        required: false
        schema:
          type: string
      - description: Serial number for filtering the search. Can specify multiple values delimited by `|`. Returns subscribers
          with serial number starting with the specified value(s).
        in: query
        name: serial_number_filter
        required: false
        schema:
          type: string
      - description: Maximum number of subscribers to retrieve (value range is 1 to 100). However, the number of subscribers
          returned may be less than the specified value.
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
      - description: The IMSI of the last subscriber retrieved on the previous page. By specifying this parameter, you can
          continue to retrieve the list from the next subscriber onward.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Subscriber'
                type: array
          description: A list of subscribers.
      security:
      - api_key: []
        api_token: []
      summary: List Subscribers.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers list
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /subscribers/{imsi}:
    get:
      description: Returns information about the specified subscriber.
      operationId: getSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Get Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers get
  /subscribers/{imsi}/activate:
    post:
      description: Activates status of specified subscriber.
      operationId: activateSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Activate Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers activate
  /subscribers/{imsi}/bundles:
    put:
      description: Sets bundles to the specified subscriber.
      operationId: putBundles
      parameters:
      - description: IMSI of the target subscriber. The IMSI can be obtained from the [Sim:listSims API](#!/Sim/listSims).
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
            - D-300MB
            schema:
              items:
                description: 'Bundle to set. Specify a bundle supported by the subscription. The bundle name prefix (excluding
                  size suffixes such as `-xxMB` or `-xxGB`) is as follows for each subscription:


                  - plan-D: `D`

                  - plan-DU: `DU`

                  - plan-US: `US`


                  Example: For subscription plan-US, you can set `US-300MB`.


                  **Warning**: Bundles for plan-K2 (K2-300MB), plan-D (D-300MB), planX3, and planX3-EU cannot be changed.

                  '
                enum:
                - D-300MB
                - DU-10GB
                - DU-50GB
                - DU-100GB
                - US-1MB
                - US-3MB
                - US-10MB
                - US-20MB
                - US-50MB
                - US-100MB
                - US-300MB
                - US-500MB
                - US-1GB
                - US-3GB
                - US-5GB
                - US-10GB
                type: string
              type: array
        description: Array of bundles to set for the subscriber.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '400':
          description: The specified bundle is not supported by this Subscriber's subscription.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Set Bundles to Subscriber.
      tags:
      - Subscriber
      x-sam-operationId: putBundles
      x-soracom-cli:
      - subscribers put-bundles
  /subscribers/{imsi}/data:
    get:
      description: 'Returns a list of data entries sent to Harvest Data from a subscriber that match certain criteria. If
        the total number of data entries does not fit in one page, a URL for accessing the next page is returned in the `link`
        header of the response.

        '
      operationId: getDataFromSubscriber
      parameters:
      - description: IMSI of the target subscriber that generated data entries.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Start time for the data entries search range (UNIX time in milliseconds).
        in: query
        name: from
        required: false
        schema:
          type: integer
      - description: End time for the data entries search range (UNIX time in milliseconds).
        in: query
        name: to
        required: false
        schema:
          type: integer
      - description: Sort order of the data entries. Either descending (latest data entry first) or ascending (oldest data
          entry first).
        in: query
        name: sort
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
      - description: Maximum number of data entries to retrieve (value range is 1 to 1000). The default is `10`.
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: 'Key in the last data entry retrieved in the previous page. The key for data entries in this API is `${UNIX
          time in milliseconds}_${IMSI}`. By specifying this parameter, you can continue to retrieve the list from the next
          page onward.

          '
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataEntry'
                type: array
          description: A list of data entries.
      security:
      - api_key: []
        api_token: []
      summary: Get data sent from a subscriber to Harvest Data.
      tags:
      - Subscriber
      x-soracom-cli:
      - data get
      - subscribers get-data
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /subscribers/{imsi}/deactivate:
    post:
      description: Deactivates specified subscriber.
      operationId: deactivateSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Deactivate Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers deactivate
  /subscribers/{imsi}/delete_session:
    post:
      description: Deletes session for the specified subscriber.
      operationId: deleteSubscriberSession
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Delete Session
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers delete-session
  /subscribers/{imsi}/disable_termination:
    post:
      description: Disables termination of specified subscriber.
      operationId: disableTermination
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Disable Termination of Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers disable-termination
  /subscribers/{imsi}/downlink/ping:
    post:
      description: Send ICMP ping requests to a subscriber.
      operationId: subscriberDownlinkPingToUserEquipment
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownlinkPingRequest'
        description: ping options
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownlinkPingResponse'
          description: Result of the ping
      security:
      - api_key: []
        api_token: []
      summary: Send ping requests to a subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers downlink-ping
  /subscribers/{imsi}/enable_termination:
    post:
      description: Enables termination of specified subscriber.
      operationId: enableTermination
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Enable Termination of Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers enable-termination
  /subscribers/{imsi}/events/sessions:
    get:
      description: 'Returns the event history of session creation/modification/disconnection on the specified subscriber in
        the last 32 days. If the total number of events does not fit in one page, a URL for accessing the next page is returned
        in the `link` header of the response.

        '
      operationId: listSessionEvents
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Start time for the events search range (UNIX time in milliseconds).
        in: query
        name: from
        required: false
        schema:
          type: integer
      - description: End time for the events search range (UNIX time in milliseconds).
        in: query
        name: to
        required: false
        schema:
          type: integer
      - description: Maximum number of events to retrieve.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The time stamp of the last event retrieved on the previous page. By specifying this parameter, you can
          continue to retrieve the list from the next event onward.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SessionEvent'
                type: array
          description: A list of session events
      security:
      - api_key: []
        api_token: []
      summary: List Session Events.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers session-events
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /subscribers/{imsi}/register:
    post:
      description: Registers a subscriber.
      operationId: registerSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSubscribersRequest'
        description: subscriber
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: Subscriber registration complete.
      security:
      - api_key: []
        api_token: []
      summary: Register Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers register
  /subscribers/{imsi}/report_local_info:
    post:
      description: Triggers Subscriber to report SIM local info.
      operationId: reportLocalInfo
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The local info reporting has successfully been triggered. The subscriber information is asynchronously
            updated when the SIM reports the information back.
        '400':
          description: The specified subscriber does not support local info reporting feature.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Triggers Subscriber to report SIM local info.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers report-local-info
  /subscribers/{imsi}/send_sms:
    post:
      description: Send SMS to the specified subscriber.
      operationId: sendSms
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsForwardingRequest'
        description: SMS forwarding request that contains message body and its encoding type.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsForwardingReport'
          description: SMS transmission accepted and completed. Returns the ID assigned to the message.
        '400':
          description: The specified subscriber does not support SMS API.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Send SMS to Subscriber
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers send-sms
  /subscribers/{imsi}/set_expiry_time:
    post:
      description: Updates expiry time of specified subscriber.
      operationId: setExpiryTime
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpiryTime'
        description: Expiration date (UNIX time in milliseconds) and action after the update.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Update Expiry Time of Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers set-expiry-time
  /subscribers/{imsi}/set_group:
    post:
      description: Adds a SIM to a SIM group.
      operationId: setGroup
      parameters:
      - description: IMSI of the target SIM. The IMSI can be obtained using the [Sim:listSims API](#!/Sim/listSims).
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetGroupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Adds a SIM to a SIM group
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers set-group
  /subscribers/{imsi}/set_imei_lock:
    post:
      description: Set IMEI that the subscriber should be locked to.
      operationId: setImeiLock
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetImeiLockRequest'
        description: IMEI lock configuration for the subscriber. (IMEI can be left blank for locking to the current IMEI of
          an online subscriber.)
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '400':
          description: Invalid IMEI string or subscriber is offline and IMEI not specified.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Set IMEI lock configuration for Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers set-imei-lock
  /subscribers/{imsi}/set_to_standby:
    post:
      description: Set the specified subscriber to standby mode.
      operationId: setSubscriberToStandby
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '400':
          description: The specified subscriber does not support standby mode.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Set Subscriber to standby mode.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers set-to-standby
  /subscribers/{imsi}/suspend:
    post:
      description: Suspends the specified subscriber.
      operationId: suspendSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Suspend Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers suspend
  /subscribers/{imsi}/tags:
    put:
      description: Inserts/updates tags for the specified subscriber.
      operationId: putSubscriberTags
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/TagUpdateRequest'
              type: array
        description: Array of tags to be inserted/updated.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Bulk Insert or Update Subscriber Tags.
      tags:
      - Subscriber
      x-sam-operationId: putTags
      x-soracom-cli:
      - subscribers put-tags
  /subscribers/{imsi}/tags/{tag_name}:
    delete:
      description: Deletes a tag from the specified subscriber.
      operationId: deleteSubscriberTag
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Tag name to be deleted. (This will be part of a URL path, so it needs to be percent-encoded. In JavaScript,
          specify the name after it has been encoded using encodeURIComponent().)
        in: path
        name: tag_name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deletion of specified tag complete.
        '404':
          description: The specified subscriber or the tag does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Delete Subscriber Tag.
      tags:
      - Subscriber
      x-sam-operationId: deleteTag
      x-soracom-cli:
      - subscribers delete-tag
  /subscribers/{imsi}/terminate:
    post:
      description: Terminates the specified subscriber
      operationId: terminateSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Terminate Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers terminate
  /subscribers/{imsi}/unset_expiry_time:
    post:
      description: Deletes expiry time of specified subscriber and changes it to indefinite.
      operationId: unsetExpiryTime
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Change of specified subscriber's expiry time to indefinite complete.
        '404':
          description: The specified subscriber does not exist or the subscriber does not have an expiry time.
      security:
      - api_key: []
        api_token: []
      summary: Delete Expiry Time of Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers unset-expiry-time
  /subscribers/{imsi}/unset_group:
    post:
      description: Removes a SIM from a SIM group.
      operationId: unsetGroup
      parameters:
      - description: IMSI of the target SIM. The IMSI can be obtained using the [Sim:listSims API](#!/Sim/listSims).
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist or the subscriber does not belong to a group.
      security:
      - api_key: []
        api_token: []
      summary: Removes a SIM from a SIM group
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers unset-group
  /subscribers/{imsi}/unset_imei_lock:
    post:
      description: Remove any existing IMEI lock configuration for the subscriber.
      operationId: unsetImeiLock
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Unset IMEI lock configuration for Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers unset-imei-lock
  /subscribers/{imsi}/update_speed_class:
    post:
      description: Changes the speed class of the specified subscriber.
      operationId: updateSpeedClass
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpeedClassRequest'
        description: speed_class
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Update Subscriber speed class.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers update-speed-class
  /subscribers/export:
    post:
      description: Export all subscribers as a CSV file.
      operationId: exportSubscribers
      parameters:
      - description: export mode (async, sync)
        in: query
        name: export_mode
        required: false
        schema:
          default: sync
          enum:
          - async
          - sync
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileExportResponse'
          description: Where to export subscribers.
      security:
      - api_key: []
        api_token: []
      summary: Export all subscribers.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers export
  /subscribers/msisdn/{msisdn}/send_sms:
    post:
      description: Send SMS to a subscriber specified with MSISDN.
      operationId: sendSmsByMsisdn
      parameters:
      - description: MSISDN of the target subscriber.
        in: path
        name: msisdn
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsForwardingRequest'
        description: SMS forwarding request that contains message body and its encoding type.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsForwardingReport'
          description: SMS transmission accepted and completed. Returns the ID assigned to the message.
        '400':
          description: The specified subscriber does not support SMS API.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Send SMS to Subscriber by MSISDN
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers send-sms-by-msisdn
  /subscribers/transfer_token/{token}:
    delete:
      description: Invalidate the transfer token for SIMs and cancels the transfer of all SIMs associated with the transfer
        token. To use this API, you need an API key and token issued with the source operator.
      operationId: deleteSubscriberTransferToken
      parameters:
      - description: Transfer token. The transfer token can be obtained from [Subscriber:issueSubscriberTransferToken](#!/Subscriber/issueSubscriberTransferToken).
        in: path
        name: token
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Transfer token has been invalidated and the transfer has been cancelled.
        '404':
          description: Transfer token does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Cancel the transfer of Ready status SIMs (Invalidate the transfer token)
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers delete-transfer-token
  /subscribers/transfer_token/issue:
    post:
      description: 'Initiates the transfer of Ready status SIMs. To use this API, you need an API key and token issued with
        the source operator. When this API is executed, a transfer token is issued and sent to the destination operator via
        email. For more information about SIM transfers, please refer to [Transferring Ready Status SIMs](/en/docs/air/transfer/#transferring-ready-status-sims).


        - To cancel a transfer, cancel each transfer token individually. If there is a possibility of canceling SIMs one by
        one, specify only one IMSI. To cancel, use the [Subscriber:deleteSubscriberTransferToken API](#!/Subscriber/deleteSubscriberTransferToken).

        - When this API is executed, the status of the SIMs will change to "Transferring".


        **Warning**: Do not change the status of SIMs that are in the "Transferring" status. If the status is changed, the
        SIMs can no longer be transferred using this procedure. For the procedure to transfer SIMs whose status has been changed,
        refer to [Transferring Other Status SIMs](/en/docs/air/transfer/#transferring-other-status-sims).


        **Info**: The information of the destination operator can be confirmed by logging in to the Soracom User Console with
        the destination operator.

        '
      operationId: issueSubscriberTransferToken
      requestBody:
        content:
          application/json:
            example:
              transferDestinationOperatorEmail: transfer-destination-XX@example.com
              transferDestinationOperatorId: OPXXXXXXXXXX
              transferImsi:
              - 44XX01234567891
              - 44XX01234567892
              - 44XX01234567893
              - 44XX01234567894
            schema:
              $ref: '#/components/schemas/IssueSubscriberTransferTokenRequest'
        description: Email address and Operator ID of the destination operator, and the IMSIs of the SIMs to be transferred.
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                token: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
              schema:
                $ref: '#/components/schemas/IssueSubscriberTransferTokenResponse'
          description: 'OK. The status of the SIMs specified in `transferImsi` will change to "Transferring".


            **Warning**: Do not change the status of SIMs that are in the "Transferring" status. If the status is changed,
            the SIMs can no longer be transferred using the API.

            '
[...]
