openapi: 3.2.0
info:
  description: SORACOM SANDBOX API v1
  title: 'SORACOM SANDBOX API Sandbox: Subscriber API'
  version: 20230923-005714
servers:
- url: https://api-sandbox.soracom.io/v1
tags:
- name: 'API Sandbox: Subscriber'
paths:
  /sandbox/subscribers/create:
    post:
      description: Creates a new subscriber for sandbox.
      operationId: sandboxCreateSubscriber
      requestBody:
        content:
          application/json:
            examples:
              Creating "plan-D (D-300MB)":
                value:
                  bundle:
                  - D-300MB
                  subscription: plan-D
              Creating "plan01s":
                value:
                  subscription: plan01s
            schema:
              $ref: '#/components/schemas/sandboxCreateSubscriberRequest'
        description: Create request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sandboxCreateSubscriberResponse'
          description: OK
      security:
      - api_key: []
        api_token: []
      summary: Creates a new subscriber for sandbox
      tags:
      - 'API Sandbox: Subscriber'
      x-soracom-cli:
      - sandbox subscribers create
components:
  schemas:
    sandboxCreateSubscriberResponse:
      properties:
        apn:
          type: string
        createdAt:
          format: int64
          type: integer
        expiryTime:
          format: int64
          type: integer
        imsi:
          type: string
        ipAddress:
          type: string
        lastModifiedAt:
          format: int64
          type: integer
        msisdn:
          type: string
        operatorId:
          type: string
        registrationSecret:
          type: string
        serialNumber:
          type: string
        speedClass:
          type: string
        status:
          type: string
        subscription:
          type: string
        tags:
          $ref: '#/components/schemas/TagSet'
      type: object
    sandboxCreateSubscriberRequest:
      properties:
        bundles:
          description: 'Bundle. If necessary, specify one of:'
          items:
            enum:
            - X3-5MB
            - D-300MB
            - DU-10GB
            - DU-50GB
            - DU-100GB
            - K2-300MB
            type: string
          type: array
        subscription:
          description: 'Subscription. Specify one of:'
          enum:
          - plan01s
          - plan01s-low_data_volume
          - planP1
          - planX3
          - plan-D
          - plan-K
          - plan-KM1
          - plan-DU
          - plan-K2
          type: string
      type: object
    TagSet:
      additionalProperties:
        type: string
      type: object
