openapi: 3.0.0
info:
  title: Soracom and Query Analysis Subscriber API
  description: Run SQL queries against Soracom Query, fetch query schemas, and search SIMs, Inventory devices, and Sigfox devices.
  version: 20250903-043502
servers:
- description: Japan coverage production API endpoint
  url: https://api.soracom.io/v1
- description: Global coverage production API endpoint
  url: https://g.api.soracom.io/v1
tags:
- description: '[Soracom Air for Cellular](/en/docs/air/) SIM information, operations, and cancellation'
  name: Subscriber
paths:
  /subscribers:
    get:
      description: 'Returns a list of subscribers that match certain criteria. If the total number of subscribers does not fit in one page, a URL for accessing the next page is returned in the `link` header of the response.

        '
      operationId: listSubscribers
      parameters:
      - description: Tag name for filtering the search (exact match).
        in: query
        name: tag_name
        required: false
        schema:
          type: string
      - description: Tag search string for filtering the search. Required when `tag_name` has been specified.
        in: query
        name: tag_value
        required: false
        schema:
          type: string
      - description: Tag match mode.
        in: query
        name: tag_value_match_mode
        required: false
        schema:
          default: exact
          enum:
          - exact
          - prefix
          type: string
      - description: 'Status for filtering the search. Can specify multiple values delimited by `|`. Valid values include: `active`, `inactive`, `ready`, `instock`, `shipped`, `suspended`, and `terminated`.'
        in: query
        name: status_filter
        required: false
        schema:
          type: string
      - description: 'Speed class for filtering the search. Can specify multiple values delimited by `|`. Valid values include:


          - `s1.minimum`

          - `s1.slow`

          - `s1.standard`

          - `s1.fast`

          - `s1.4xfast`

          - `s1.8xfast`

          - `u1.standard`

          - `u1.slow`

          - `t1.standard`

          - `arc.standard`

          '
        in: query
        name: speed_class_filter
        required: false
        schema:
          type: string
      - description: Serial number for filtering the search. Can specify multiple values delimited by `|`. Returns subscribers with serial number starting with the specified value(s).
        in: query
        name: serial_number_filter
        required: false
        schema:
          type: string
      - description: Maximum number of subscribers to retrieve (value range is 1 to 100). However, the number of subscribers returned may be less than the specified value.
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
      - description: The IMSI of the last subscriber retrieved on the previous page. By specifying this parameter, you can continue to retrieve the list from the next subscriber onward.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Subscriber'
                type: array
          description: A list of subscribers.
      security:
      - api_key: []
        api_token: []
      summary: List Subscribers.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers list
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /subscribers/{imsi}:
    get:
      description: Returns information about the specified subscriber.
      operationId: getSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Get Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers get
  /subscribers/{imsi}/activate:
    post:
      description: Activates status of specified subscriber.
      operationId: activateSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Activate Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers activate
  /subscribers/{imsi}/bundles:
    put:
      description: Sets bundles to the specified subscriber.
      operationId: putBundles
      parameters:
      - description: IMSI of the target subscriber. The IMSI can be obtained from the [Sim:listSims API](#!/Sim/listSims).
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
            - D-300MB
            schema:
              items:
                description: 'Bundle to set. Specify a bundle supported by the subscription. The bundle name prefix (excluding size suffixes such as `-xxMB` or `-xxGB`) is as follows for each subscription:


                  - plan-D: `D`

                  - plan-DU: `DU`

                  - plan-US: `US`


                  Example: For subscription plan-US, you can set `US-300MB`.


                  **Warning**: Bundles for plan-K2 (K2-300MB), plan-D (D-300MB), planX3, and planX3-EU cannot be changed.

                  '
                enum:
                - D-300MB
                - DU-10GB
                - DU-50GB
                - DU-100GB
                - US-1MB
                - US-3MB
                - US-10MB
                - US-20MB
                - US-50MB
                - US-100MB
                - US-300MB
                - US-500MB
                - US-1GB
                - US-3GB
                - US-5GB
                - US-10GB
                type: string
              type: array
        description: Array of bundles to set for the subscriber.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '400':
          description: The specified bundle is not supported by this Subscriber's subscription.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Set Bundles to Subscriber.
      tags:
      - Subscriber
      x-sam-operationId: putBundles
      x-soracom-cli:
      - subscribers put-bundles
  /subscribers/{imsi}/data:
    get:
      description: 'Returns a list of data entries sent to Harvest Data from a subscriber that match certain criteria. If the total number of data entries does not fit in one page, a URL for accessing the next page is returned in the `link` header of the response.

        '
      operationId: getDataFromSubscriber
      parameters:
      - description: IMSI of the target subscriber that generated data entries.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Start time for the data entries search range (UNIX time in milliseconds).
        in: query
        name: from
        required: false
        schema:
          type: integer
      - description: End time for the data entries search range (UNIX time in milliseconds).
        in: query
        name: to
        required: false
        schema:
          type: integer
      - description: Sort order of the data entries. Either descending (latest data entry first) or ascending (oldest data entry first).
        in: query
        name: sort
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
      - description: Maximum number of data entries to retrieve (value range is 1 to 1000). The default is `10`.
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: 'Key in the last data entry retrieved in the previous page. The key for data entries in this API is `${UNIX time in milliseconds}_${IMSI}`. By specifying this parameter, you can continue to retrieve the list from the next page onward.

          '
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataEntry'
                type: array
          description: A list of data entries.
      security:
      - api_key: []
        api_token: []
      summary: Get data sent from a subscriber to Harvest Data.
      tags:
      - Subscriber
      x-soracom-cli:
      - data get
      - subscribers get-data
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /subscribers/{imsi}/deactivate:
    post:
      description: Deactivates specified subscriber.
      operationId: deactivateSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Deactivate Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers deactivate
  /subscribers/{imsi}/delete_session:
    post:
      description: Deletes session for the specified subscriber.
      operationId: deleteSubscriberSession
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Delete Session
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers delete-session
  /subscribers/{imsi}/disable_termination:
    post:
      description: Disables termination of specified subscriber.
      operationId: disableTermination
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Disable Termination of Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers disable-termination
  /subscribers/{imsi}/downlink/ping:
    post:
      description: Send ICMP ping requests to a subscriber.
      operationId: subscriberDownlinkPingToUserEquipment
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownlinkPingRequest'
        description: ping options
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownlinkPingResponse'
          description: Result of the ping
      security:
      - api_key: []
        api_token: []
      summary: Send ping requests to a subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers downlink-ping
  /subscribers/{imsi}/enable_termination:
    post:
      description: Enables termination of specified subscriber.
      operationId: enableTermination
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Enable Termination of Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers enable-termination
  /subscribers/{imsi}/events/sessions:
    get:
      description: 'Returns the event history of session creation/modification/disconnection on the specified subscriber in the last 32 days. If the total number of events does not fit in one page, a URL for accessing the next page is returned in the `link` header of the response.

        '
      operationId: listSessionEvents
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Start time for the events search range (UNIX time in milliseconds).
        in: query
        name: from
        required: false
        schema:
          type: integer
      - description: End time for the events search range (UNIX time in milliseconds).
        in: query
        name: to
        required: false
        schema:
          type: integer
      - description: Maximum number of events to retrieve.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The time stamp of the last event retrieved on the previous page. By specifying this parameter, you can continue to retrieve the list from the next event onward.
        in: query
        name: last_evaluated_key
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SessionEvent'
                type: array
          description: A list of session events
      security:
      - api_key: []
        api_token: []
      summary: List Session Events.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers session-events
      x-soracom-cli-pagination:
        request:
          param: last_evaluated_key
        response:
          header: x-soracom-next-key
  /subscribers/{imsi}/register:
    post:
      description: Registers a subscriber.
      operationId: registerSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSubscribersRequest'
        description: subscriber
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: Subscriber registration complete.
      security:
      - api_key: []
        api_token: []
      summary: Register Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers register
  /subscribers/{imsi}/report_local_info:
    post:
      description: Triggers Subscriber to report SIM local info.
      operationId: reportLocalInfo
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The local info reporting has successfully been triggered. The subscriber information is asynchronously updated when the SIM reports the information back.
        '400':
          description: The specified subscriber does not support local info reporting feature.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Triggers Subscriber to report SIM local info.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers report-local-info
  /subscribers/{imsi}/send_sms:
    post:
      description: Send SMS to the specified subscriber.
      operationId: sendSms
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsForwardingRequest'
        description: SMS forwarding request that contains message body and its encoding type.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsForwardingReport'
          description: SMS transmission accepted and completed. Returns the ID assigned to the message.
        '400':
          description: The specified subscriber does not support SMS API.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Send SMS to Subscriber
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers send-sms
  /subscribers/{imsi}/set_expiry_time:
    post:
      description: Updates expiry time of specified subscriber.
      operationId: setExpiryTime
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpiryTime'
        description: Expiration date (UNIX time in milliseconds) and action after the update.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Update Expiry Time of Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers set-expiry-time
  /subscribers/{imsi}/set_group:
    post:
      description: Adds a SIM to a SIM group.
      operationId: setGroup
      parameters:
      - description: IMSI of the target SIM. The IMSI can be obtained using the [Sim:listSims API](#!/Sim/listSims).
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetGroupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Adds a SIM to a SIM group
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers set-group
  /subscribers/{imsi}/set_imei_lock:
    post:
      description: Set IMEI that the subscriber should be locked to.
      operationId: setImeiLock
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetImeiLockRequest'
        description: IMEI lock configuration for the subscriber. (IMEI can be left blank for locking to the current IMEI of an online subscriber.)
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '400':
          description: Invalid IMEI string or subscriber is offline and IMEI not specified.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Set IMEI lock configuration for Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers set-imei-lock
  /subscribers/{imsi}/set_to_standby:
    post:
      description: Set the specified subscriber to standby mode.
      operationId: setSubscriberToStandby
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '400':
          description: The specified subscriber does not support standby mode.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Set Subscriber to standby mode.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers set-to-standby
  /subscribers/{imsi}/suspend:
    post:
      description: Suspends the specified subscriber.
      operationId: suspendSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Suspend Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers suspend
  /subscribers/{imsi}/tags:
    put:
      description: Inserts/updates tags for the specified subscriber.
      operationId: putSubscriberTags
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/TagUpdateRequest'
              type: array
        description: Array of tags to be inserted/updated.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Bulk Insert or Update Subscriber Tags.
      tags:
      - Subscriber
      x-sam-operationId: putTags
      x-soracom-cli:
      - subscribers put-tags
  /subscribers/{imsi}/tags/{tag_name}:
    delete:
      description: Deletes a tag from the specified subscriber.
      operationId: deleteSubscriberTag
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Tag name to be deleted. (This will be part of a URL path, so it needs to be percent-encoded. In JavaScript, specify the name after it has been encoded using encodeURIComponent().)
        in: path
        name: tag_name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deletion of specified tag complete.
        '404':
          description: The specified subscriber or the tag does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Delete Subscriber Tag.
      tags:
      - Subscriber
      x-sam-operationId: deleteTag
      x-soracom-cli:
      - subscribers delete-tag
  /subscribers/{imsi}/terminate:
    post:
      description: Terminates the specified subscriber
      operationId: terminateSubscriber
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          format: IMSI
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Terminate Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers terminate
  /subscribers/{imsi}/unset_expiry_time:
    post:
      description: Deletes expiry time of specified subscriber and changes it to indefinite.
      operationId: unsetExpiryTime
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Change of specified subscriber's expiry time to indefinite complete.
        '404':
          description: The specified subscriber does not exist or the subscriber does not have an expiry time.
      security:
      - api_key: []
        api_token: []
      summary: Delete Expiry Time of Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers unset-expiry-time
  /subscribers/{imsi}/unset_group:
    post:
      description: Removes a SIM from a SIM group.
      operationId: unsetGroup
      parameters:
      - description: IMSI of the target SIM. The IMSI can be obtained using the [Sim:listSims API](#!/Sim/listSims).
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist or the subscriber does not belong to a group.
      security:
      - api_key: []
        api_token: []
      summary: Removes a SIM from a SIM group
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers unset-group
  /subscribers/{imsi}/unset_imei_lock:
    post:
      description: Remove any existing IMEI lock configuration for the subscriber.
      operationId: unsetImeiLock
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Unset IMEI lock configuration for Subscriber.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers unset-imei-lock
  /subscribers/{imsi}/update_speed_class:
    post:
      description: Changes the speed class of the specified subscriber.
      operationId: updateSpeedClass
      parameters:
      - description: IMSI of the target subscriber.
        in: path
        name: imsi
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpeedClassRequest'
        description: speed_class
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: The subscriber's detailed information after the update.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Update Subscriber speed class.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers update-speed-class
  /subscribers/export:
    post:
      description: Export all subscribers as a CSV file.
      operationId: exportSubscribers
      parameters:
      - description: export mode (async, sync)
        in: query
        name: export_mode
        required: false
        schema:
          default: sync
          enum:
          - async
          - sync
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileExportResponse'
          description: Where to export subscribers.
      security:
      - api_key: []
        api_token: []
      summary: Export all subscribers.
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers export
  /subscribers/msisdn/{msisdn}/send_sms:
    post:
      description: Send SMS to a subscriber specified with MSISDN.
      operationId: sendSmsByMsisdn
      parameters:
      - description: MSISDN of the target subscriber.
        in: path
        name: msisdn
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsForwardingRequest'
        description: SMS forwarding request that contains message body and its encoding type.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsForwardingReport'
          description: SMS transmission accepted and completed. Returns the ID assigned to the message.
        '400':
          description: The specified subscriber does not support SMS API.
        '404':
          description: The specified subscriber does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Send SMS to Subscriber by MSISDN
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers send-sms-by-msisdn
  /subscribers/transfer_token/{token}:
    delete:
      description: Invalidate the transfer token for SIMs and cancels the transfer of all SIMs associated with the transfer token. To use this API, you need an API key and token issued with the source operator.
      operationId: deleteSubscriberTransferToken
      parameters:
      - description: Transfer token. The transfer token can be obtained from [Subscriber:issueSubscriberTransferToken](#!/Subscriber/issueSubscriberTransferToken).
        in: path
        name: token
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Transfer token has been invalidated and the transfer has been cancelled.
        '404':
          description: Transfer token does not exist.
      security:
      - api_key: []
        api_token: []
      summary: Cancel the transfer of Ready status SIMs (Invalidate the transfer token)
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers delete-transfer-token
  /subscribers/transfer_token/issue:
    post:
      description: 'Initiates the transfer of Ready status SIMs. To use this API, you need an API key and token issued with the source operator. When this API is executed, a transfer token is issued and sent to the destination operator via email. For more information about SIM transfers, please refer to [Transferring Ready Status SIMs](/en/docs/air/transfer/#transferring-ready-status-sims).


        - To cancel a transfer, cancel each transfer token individually. If there is a possibility of canceling SIMs one by one, specify only one IMSI. To cancel, use the [Subscriber:deleteSubscriberTransferToken API](#!/Subscriber/deleteSubscriberTransferToken).

        - When this API is executed, the status of the SIMs will change to "Transferring".


        **Warning**: Do not change the status of SIMs that are in the "Transferring" status. If the status is changed, the SIMs can no longer be transferred using this procedure. For the procedure to transfer SIMs whose status has been changed, refer to [Transferring Other Status SIMs](/en/docs/air/transfer/#transferring-other-status-sims).


        **Info**: The information of the destination operator can be confirmed by logging in to the Soracom User Console with the destination operator.

        '
      operationId: issueSubscriberTransferToken
      requestBody:
        content:
          application/json:
            example:
              transferDestinationOperatorEmail: transfer-destination-XX@example.com
              transferDestinationOperatorId: OPXXXXXXXXXX
              transferImsi:
              - 44XX01234567891
              - 44XX01234567892
              - 44XX01234567893
              - 44XX01234567894
            schema:
              $ref: '#/components/schemas/IssueSubscriberTransferTokenRequest'
        description: Email address and Operator ID of the destination operator, and the IMSIs of the SIMs to be transferred.
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                token: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
              schema:
                $ref: '#/components/schemas/IssueSubscriberTransferTokenResponse'
          description: 'OK. The status of the SIMs specified in `transferImsi` will change to "Transferring".


            **Warning**: Do not change the status of SIMs that are in the "Transferring" status. If the status is changed, the SIMs can no longer be transferred using the API.

            '
      security:
      - api_key: []
        api_token: []
      summary: Initiate the transfer of Ready status SIMs (Issue a transfer token)
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers issue-transfer-token
  /subscribers/transfer_token/verify:
    post:
      description: Verifies the transfer token for SIMs and accepts the transfer. To use this API, you need an API key and token issued with the destination operator.
      operationId: verifySubscriberTransferToken
      requestBody:
        content:
          application/json:
            example:
              token: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
            schema:
              $ref: '#/components/schemas/VerifySubscriberTransferTokenRequest'
        description: Transfer token. The transfer token is sent via email.
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                transferredImsi:
                - 44XX01234567891
                - 44XX01234567892
                - 44XX01234567893
                - 44XX01234567894
              schema:
                $ref: '#/components/schemas/VerifySubscriberTransferTokenResponse'
          description: SIM transfer successfully accepted and processed.
      security:
      - api_key: []
        api_token: []
      summary: Accept the transfer of Ready status SIMs (Verify the transfer token)
      tags:
      - Subscriber
      x-soracom-cli:
      - subscribers verify-transfer-token
components:
  schemas:
    SmsForwardingRequest:
      properties:
        encodingType:
          default: 2
          description: "Encoding type of the message body. Default is `2` (`DCS_UCS2`).\n\n- `1`: Send in GSM 7-bit that only supports standard alphabet. Kanji, Cyrillic, and Arabic characters cannot be sent. Maximum 160 characters (maximum 140 bytes).\n\n    Example: `{\"encodingType\": 1, \"payload\": \"Test message.\"}`\n- `2`: Send in UCS-2, which supports Kanji, Cyrillic, Arabic, etc. Maximum 70 characters.\n\n    Example: `{\"encodingType\": 2, \"payload\": \"テストメッセージ\"}`\n"
          type: integer
        payload:
          type: string
      type: object
    IssueSubscriberTransferTokenRequest:
      properties:
        transferDestinationOperatorEmail:
          description: Primary email address of the destination operator. Please confirm with the owner of the destination operator.
          type: string
        transferDestinationOperatorId:
          description: Operator ID of the destination operator. Please confirm with the owner of the destination operator.
          type: string
        transferImsi:
          description: 'IMSI of the SIM to be transferred. The IMSI can be obtained from the [Sim:listSims API](#!/Sim/listSims).


            If there is a possibility of canceling SIMs one by one, please specify only one IMSI.

            '
          items:
            type: string
          type: array
      required:
      - transferDestinationOperatorEmail
      - transferDestinationOperatorId
      - transferImsi
      type: object
    SessionEvent:
      properties:
        apn:
          description: The Access Point Name configured.
          type: string
        cell:
          $ref: '#/components/schemas/Cell'
        createdTime:
          type: string
        dns0:
          description: First IP address of DNS servers.
          type: string
        dns1:
          description: Second IP address of DNS servers.
          type: string
        event:
          description: 'The type of session event. It is one of the following:


            - `Created`: The session has been established.

            - `Modified`: The session update (handover) was notified by the base station due to reasons such as device movement or changes in radio wave strength.

            - `Deleted`: The session has been disconnected.


            In the case of `Created` or `Modified`, it indicates that the session state is online. In the case of `Deleted`, it indicates that the session state is offline. For the meaning of a session, refer to [State (Online/Offline)](/en-us/resources/glossary/session/#state-online-offline).

            '
          type: string
        gatewayPrivateIpAddress:
          description: The private IP address of the VPG. In the case of VPG Type-F, the source IP address of the closed network communication from the IoT SIM to the customer's system is NAT-ed to this IP address.
          type: string
        gatewayPublicIpAddress:
          description: The fixed global IP address when using the VPG [Fixed Global IP Address Option](/en/docs/vpg/fixed-global-ip/).
          type: string
        imei:
          description: The IMEI of the device using the IoT SIM. If using a virtual SIM/subscriber, this will be `null`.
          type: string
        imsi:
          description: The IMSI of the IoT SIM.
          type: string
        operatorId:
          description: The operator ID of the session event.
          type: string
        sessionId:
          description: The session ID.
          type: string
        simId:
          type: string
        subscription:
          description: The subscription.
          type: string
        time:
          description: The timestamp of the session event.
          format: int64
          type: integer
        ueIpAddress:
          description: The IP address of the device.
          type: string
        vpgId:
          description: The VPG ID. If the VPG was not used, this will not be output.
          type: string
      type: object
    UpdateSpeedClassRequest:
      properties:
        speedClass:
          description: "Speed class. Specify one of the following. Please specify the speed class that matches the subscription.\n\n- For plan01s, plan01s - Low Data Volume, planX3 (X3-5MB), planP1, plan-D (without bundle), plan-D (D-300MB), plan-K2 (K2-300MB), plan-K:\n    - `s1.minimum`\n    - `s1.slow`\n    - `s1.standard`\n    - `s1.fast`\n    - `s1.4xfast`\n- For plan-US:\n    - `s1.minimum`\n    - `s1.slow`\n    - `s1.standard`\n    - `s1.fast`\n    - `s1.4xfast`\n    - `s1.8xfast`\n- For plan-DU:\n    - `u1.standard`\n    - `u1.slow`\n\n**Warning**: Speed class for plan-KM1 and virtual SIM/Subscriber cannot be changed as there is only one speed class available.\n"
          enum:
          - s1.minimum
          - s1.slow
          - s1.standard
          - s1.fast
          - s1.4xfast
          - s1.8xfast
          - u1.standard
          - u1.slow
          type: string
      required:
      - speedClass
      type: object
    LocationRegistrationStatus:
      properties:
        cs:
          $ref: '#/components/schemas/LocationRegistrationStatusForNetwork'
          description: Information on location registration to the CS network
        eps:
          $ref: '#/components/schemas/LocationRegistrationStatusForNetwork'
          description: Information on location registration to the EPS network
        ps:
          $ref: '#/components/schemas/LocationRegistrationStatusForNetwork'
          description: Information on location registration to the PS network
      type: object
    VerifySubscriberTransferTokenResponse:
      properties:
        transferredImsi:
          description: List of IMSIs of the SIM which were transferred.
          items:
            type: string
          type: array
      required:
      - transferredImsi
      type: object
    PreviousSessionStatus:
      description: Information about the previous session.
      properties:
        cell:
          $ref: '#/components/schemas/Cell'
        createdTime:
          description: The time when the previous session was created.
          format: int64
          type: integer
        deletedTime:
          description: The time when the previous session was deleted.
          format: int64
          type: integer
        dnsServers:
          description: Array of IP address of the DNS servers.
          items:
            type: string
          type: array
        gatewayPrivateIpAddress:
          description: The private IP address of the VPG. In the case of VPG Type-F, the source IP address of the closed network communication from the IoT SIM to the customer's system is NAT-ed to this IP address.
          type: string
        gatewayPublicIpAddress:
          description: The fixed global IP address when using the VPG [Fixed Global IP Address Option](/en/docs/vpg/fixed-global-ip/).
          type: string
        imei:
          description: The IMEI of the device using the IoT SIM. If using a virtual SIM/subscriber, this will be `null`.
          type: string
        imsi:
          description: The IMSI of the IoT SIM.
          type: string
        sessionId:
          description: The session ID.
          type: string
        subscription:
          type: string
        ueIpAddress:
          description: The IP address of the device.
          type: string
        vpgId:
          description: The VPG ID. If the VPG was not used, this will not be output.
          type: string
      type: object
    ExpiryTime:
      properties:
        expiryAction:
          description: 'Action at expiration. Specify one of the following Please refer to [Soracom Air Expiration Function](https://developers.soracom.io/en/docs/air/expiration/) for more detail. You have to disable termination protection if you want to specify `terminate` as an action.


            If omitted, a null value is set.

            - `doNothing` : do nothing

            - `deleteSession` : delete session of the SIM if any

            - `deactivate` : change the SIM status to Inactive

            - `suspend` : change the SIM status to Suspended

            - `terminate` : forcibly end any existing connections, and terminate the SIM

            - null value : not set (It works the same as `doNothing`)

            '
          enum:
          - doNothing
          - deleteSession
          - deactivate
          - suspend
          - terminate
          - (null value)
          nullable: true
          type: string
        expiryTime:
          description: Timestamp of date and time set using the Expiration function (UNIX time in milliseconds)
          format: int64
          type: integer
      required:
      - expiryTime
      type: object
    DownlinkPingRequest:
      properties:
        numberOfPingRequests:
          default: 1
          description: The number of attempt ping.
          maximum: 5
          type: integer
        timeoutSeconds:
          default: 1
          description: The timeout duration of each ping.
          maximum: 3
          type: integer
      type: object
    Placement:
      properties:
        infrastructureProvider:
          enum:
          - aws
          type: string
        region:
          description: 'If `infrastructureProvider` is `aws`, it indicates the rendezvous point.


            - `ap-northeast-1`: Tokyo (Japan). The default for Japan coverage.

            - `eu-central-1`: Frankfurt (Germany).  The default for Global coverage.

            - `us-west-2`: Oregon (USA).

            - `ap-southeast-2`: Sydney (Australia).

            '
          enum:
          - ap-northeast-1
          - eu-central-1
          - us-west-2
          - ap-southeast-2
          type: string
      type: object
    SmsForwardingReport:
      properties:
        messageId:
          type: string
      type: object
    Cell:
      description: Information about the base station to which the IoT SIM is connected. It will not be output for virtual SIM/subscribers.
      properties:
        ci:
          description: The Cell Identity (for 2G and 3G networks), a 16 bit value represented in decimal form as an integer. (See 3GPP TS 23.003 4.3)
          type: integer
        eci:
          description: The E-UTRAN Cell Identifier (for LTE networks), a 28 bit value represented in decimal form as a long. (See 3GPP TS 23.003 19.6)
          type: integer
        lac:
          description: The Location Area Code (for 2G and 3G networks), a 16 bit value represented in decimal form as an integer. (See 3GPP TS 23.003 4.1)
          type: integer
        mcc:
          description: The Mobile Country Code, a 3 digit number.
          type: integer
        mnc:
          description: The Mobile Network Code, a 2 or 3 digit number. If the value returned is only 1 digit in length, then you should prepend the value with a leading zero.
          type: integer
        rac:
          description: The Routing Area Code (for 2G and 3G networks), an 8 bit value represented in decimal form as an integer. (See 3GPP TS 23.003 4.2)
          type: integer
        radioType:
          description: "The Radio Access Technology or type of network that the device is connected to. \n\n**Warning**: In some cases, the information displayed may differ from the actual wireless access technology or type of network being used by the communication carrier's equipment. For example, even when connected to LTE-M, it may be displayed as LTE.\n"
          enum:
          - 3G
          - GSM
          - LTE
          - LTE-M
          - NB-IoT
          type: string
        sac:
          description: The Service Area Code (for 2G and 3G networks), a 16 bit value represented in decimal form as an integer. (See 3GPP TS 23.003 12.5)
          type: integer
        tac:
          description: The Tracking Area Code (for LTE networks), a 16 bit value represented in decimal form as an integer. (See 3GPP TS 23.003 19.4.2.3)
          type: integer
      type: object
    RegisterSubscribersRequest:
      properties:
        groupId:
          type: string
        registrationSecret:
          description: PUK or PASSCODE for SIM.
          type: string
        tags:
          $ref: '#/components/schemas/TagSet'
      required:
      - registrationSecret
      type: object
    DownlinkPingResponse:
      properties:
        rtt:
          description: The RTT of the ping result
          type: string
        stat:
          description: The stats information of the ping result
          type: string
        success:
          description: Whether the ping was succeeded or not
          type: boolean
      type: object
    ImeiLock:
      description: IMEI lock configuration.
      properties:
        imei:
          description: IMEI of the target device
          type: string
      type: object
    SetGroupRequest:
      properties:
        groupId:
          description: Group ID. The group ID can be obtained using the [Group:listGroups API](#!/Group/listGroups).
          type: string
      type: object
    VerifySubscriberTransferTokenRequest:
      properties:
        token:
          description: Transfer token. When a transfer token is issued using the [Subscriber:issueSubscriberTransferToken API](#!/Subscriber/issueSubscriberTransferToken), it is sent to the primary email address of the destination operator.
          type: string
      required:
      - token
      type: object
    SessionStatus:
      description: Information about the current session.
      properties:
        cell:
          $ref: '#/components/schemas/Cell'
        dnsServers:
          description: Array of IP address of the DNS servers.
          items:
            type: string
          type: array
        gatewayPrivateIpAddress:
          description: The private IP address of the VPG. In the case of VPG Type-F, the source IP address of the closed network communication from the IoT SIM to the customer's system is NAT-ed to this IP address.
          type: string
        gatewayPublicIpAddress:
          description: The fixed global IP address when using the VPG [Fixed Global IP Address Option](/en/docs/vpg/fixed-global-ip/).
          type: string
        imei:
          description: The IMEI of the device using the IoT SIM. If using a virtual SIM/subscriber, this will be `null`.
          type: string
        imsi:
          description: The IMSI of the IoT SIM.
          type: string
        lastUpdatedAt:
          format: int64
          type: integer
        location:
          type: object
        online:
          description: 'Session status.

            - `true`: online

            - `false`: offline

            '
          type: boolean
        placement:
          $ref: '#/components/schemas/Placement'
        sessionId:
          description: The session ID.
          type: string
        subscription:
          description: The subscription.
          type: string
        ueIpAddress:
          description: The IP address of the device.
          type: string
        vpgId:
          description: The VPG ID. If the VPG was not used, this will not be output.
          type: string
      type: object
    TagSet:
      additionalProperties:
        type: string
      description: An object which always contains at least one property "name" with a string value. If you give a subscriber/SIM a name, the name will be returned as the value of the "name" property. If the subscriber/SIM does not have a name, an empty string "" is returned. In addition, if you create any custom tags for the subscriber/SIM, each custom tag will appear as additional properties in the object.
      example:
        tagName1: tagValue1
        tagName2: tagValue2...
      type: object
    SetImeiLockRequest:
      properties:
        imei:
          description: 'IMEI of the target device. If you want to establish a session even when the IMEI is temporarily not reported, append `|ANONYMOUS` to the IMEI value.


            For example, if the IMEI specified is `123456789012345`, specifying `123456789012345|ANONYMOUS` as the parameter value will allow a session to be established even when the IMEI is temporarily not reported.

            '
          type: string
      type: object
    DataEntry:
      properties:
        category:
          type: string
        content:
          type: string
        contentType:
          type: string
        resourceId:
          type: string
        resourceType:
          enum:
          - Subscriber
          - LoraDevice
          - Sim
          - SigfoxDevice
          - Device
          - SoraCam
          type: string
        time:
          format: int64
          type: integer
      type: object
    IssueSubscriberTransferTokenResponse:
      properties:
        token:
          description: Transfer token.
          example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          type: string
      required:
      - token
      type: object
    Subscriber:
      properties:
        apn:
          description: The APN (Access Point Name) configured.
          type: string
        bundles:
          items:
            type: string
          type: array
        createdAt:
          description: UNIX time (in milliseconds) when this subscription was created. For example, for a secondary subscription, it is the UNIX time (in milliseconds) that the secondary subscription was created.
          format: int64
          type: integer
        createdTime:
          description: UNIX time (in milliseconds) when this subscription was created. For example, for a secondary subscription, it is the UNIX time (in milliseconds) that the secondary subscription was created.
          format: int64
          type: integer
        expiredAt:
          description: IoT SIM expiration date (UNIX time in milliseconds)
          format: int64
          type: integer
        expiryAction:
          description: 'Action when expiration date expires. Please refer to [Soracom Air Expiration Function](/en/docs/air/expiration/) for more detail.


            - `doNothing` : do nothing

            - `deleteSession` : delete session of the SIM if any

            - `deactivate` : change the SIM status to Inactive

            - `suspend` : change the SIM status to Suspended

            - `terminate` : forcibly end any existing connections, and terminate the SIM

            - `null`: No expiration date set.

            '
          enum:
          - doNothing
          - deleteSession
          - deactivate
          - suspend
          - terminate
          - (null value)
          type: string
        expiryTime:
          description: IoT SIM expiration date (UNIX time in milliseconds).
          format: int64
          type: integer
        groupId:
          description: The SIM group ID where the SIM belongs to.
          type: string
        iccid:
          description: The ICCID of the SIM.
          type: string
        imeiLock:
          $ref: '#/components/schemas/ImeiLock'
        imsi:
          description: The IMSI of the SIM.
          type: string
        ipAddress:
          type: string
        lastModifiedAt:
          description: UNIX time in milliseconds that the IoT SIM information was changed
          format: int64
          type: integer
        lastModifiedTime:
          description: UNIX time in milliseconds that the IoT SIM information was changed
          format: int64
          type: integer
        lastPortMappingCreatedTime:
          description: UNIX time in milliseconds that Napter was used with the SIM. If Napter has never been used with the SIM, null is returned.
          format: int64
          type: integer
        locationRegistrationStatus:
          $ref: '#/components/schemas/LocationRegistrationStatus'
          description: Network registration status for each network.
        moduleType:
          description: 'The form factor of the physical SIM.


            - `mini`: standard (2FF) size.

            - `micro`: micro (3FF) size.

            - `nano`: nano (4FF) size.

            - `trio`: 3 in 1 (can be cut into 2FF/3FF/4FF depending on how you cut it).

            - `embedded`: Embedded (MFF2).

            - `virtual`: Virtual SIM/Subscriber.

            - `integrated`: Embedded (iSIM).

            - `profilePackage`: Profile Package (eSIM profile).

            - `null`: null for secondary subscriptions.

            '
          enum:
          - mini
          - micro
          - nano
          - trio
          - embedded
          - virtual
          - integrated
          - profilePackage
          - (null value)
          type: string
        msisdn:
          description: The MSISDN of the SIM.
          type: string
        operatorId:
          description: The ID of the operator who owns this SIM.
          type: string
        packetCaptureSessions:
          items:
            type: object
          type: array
        plan:
          description: 'Whether or not the subscription supports SMS functionality.


            - `0`: SMS not supported.

            - `1`: SMS supported.

            '
          type: integer
        previousSession:
          $ref: '#/components/schemas/PreviousSessionStatus'
        registeredTime:
          description: UNIX time (in milliseconds) that the IoT SIM was manually registered to the operator. When purchasing SIMs directly through the User Console, SIMs will automatically be registered to your account, the field is not present.
          format: int64
          type: integer
        renewalFeeStatusSetTime:
          description: UNIX time (in milliseconds) that the IoT SIM status is either "ready", "standby", or "suspended".
          format: int64
          type: integer
        serialNumber:
          description: The serial number of the SIM. Virtual SIM/Subscriber does not have a serial number.
          type: string
        sessionStatus:
          $ref: '#/components/schemas/SessionStatus'
        simId:
          description: The SIM ID of the SIM.
          type: string
        speedClass:
          description: The speed class of the SIM.
          type: string
        status:
          description: 'Status of the IoT SIM (Primary subscription of the IoT SIM) Note that the status of a virtual SIM/Subscriber added to an IoT SIM is either `active` or `terminated`.


            - `ready`

            - `active`

            - `inactive`

            - `standby`

            - `suspended`

            - `terminated`

            '
          enum:
          - ready
          - active
          - inactive
          - standby
          - suspended
          - terminated
          type: string
        subscription:
          description: The name of the subscription for the SIM.
          type: string
        tags:
          $ref: '#/components/schemas/TagSet'
        terminationEnabled:
          description: 'Configure IoT SIM termination protection


            - `true`: Termination protection OFF (can be terminated).

            - `false`: Termination protection ON

            '
          type: boolean
        type:
          description: The speed class of the SIM.
          type: string
      type: object
    TagUpdateRequest:
      properties:
        tagName:
          type: string
        tagValue:
          type: string
      required:
      - tagName
      - tagValue
      type: object
    LocationRegistrationStatusForNetwork:
      properties:
        lastModifiedTime:
          description: Timestamp of the last successful network registration (Unix time in milliseconds)
          format: int64
          type: integer
        vplmn:
          description: PLMN ID of the visited network.
          type: string
      type: object
    FileExportResponse:
      properties:
        exportedFileId:
          description: File Export ID. Specify this ID when calling [Files:getExportedFile API](#!/Files/getExportedFile) to get the URL to download the file. Included only if `export_mode` is `async`.
          type: string
        exportedFilePath:
          description: Path of the exported file. Included only if `export_mode` is `async`.
          type: string
        url:
          description: URL to download the file. Included only if `export_mode` is `sync`.
          type: string
      type: object
  securitySchemes:
    api_key:
      description: 'API key for authentication. Obtain this from the Soracom User Console or via the Auth API.

        Required in combination with an API token for all authenticated requests.

        '
      in: header
      name: X-Soracom-API-Key
      type: apiKey
    api_token:
      description: 'API token for authentication. This token has an expiration time and must be refreshed periodically.

        Required in combination with an API key for all authenticated requests.'
      in: header
      name: X-Soracom-Token
      type: apiKey
