openapi: 3.0.0
info:
  title: Soracom and Query Analysis Stats API
  description: Run SQL queries against Soracom Query, fetch query schemas, and search SIMs, Inventory devices, and Sigfox devices.
  version: 20250903-043502
servers:
- description: Japan coverage production API endpoint
  url: https://api.soracom.io/v1
- description: Global coverage production API endpoint
  url: https://g.api.soracom.io/v1
tags:
- description: '[Data usage history](/en/docs/air/view-data-usage/) retrieval'
  name: Stats
paths:
  /stats/air/groups/{group_id}:
    get:
      description: Retrieves the usage report aggregating all SIMs that belong to the specified Group.
      operationId: getAirStatsOfGroup
      parameters:
      - description: Group ID
        in: path
        name: group_id
        required: true
        schema:
          type: string
      - description: Specify the start month/day of the period to be aggregated in UNIX time in seconds.
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: Specify the end month/day of the period to be aggregated in UNIX time in seconds.
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: "Unit of aggregation.\n\n- `month`: Monthly.\n\n  The `from` and `to` should be UNIX time (in seconds) from 3 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Daily\n\n  The `from` and `to` should be UNIX time (in seconds) from 7 days before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n"
        in: query
        name: period
        required: true
        schema:
          enum:
          - month
          - day
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AirAggregatedStatsResponse'
                type: array
          description: OK.
        '400':
          description: Bad request.
      security:
      - api_key: []
        api_token: []
      summary: Get Air Usage Report of a Group.
      tags:
      - Stats
      x-soracom-cli:
      - stats air groups get
  /stats/air/operators/{operator_id}:
    get:
      description: Retrieves the usage report aggregating all SIMs that belong to the specified Operator.
      operationId: getAirStatsOfOperator
      parameters:
      - description: Operator ID
        in: path
        name: operator_id
        required: true
        schema:
          type: string
      - description: Specify the start month/day of the period to be aggregated in UNIX time in seconds.
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: Specify the end month/day of the period to be aggregated in UNIX time in seconds.
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: "Unit of aggregation.\n\n- `month`: Monthly.\n\n  The `from` and `to` should be UNIX time (in seconds) from 3 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Daily\n\n  The `from` and `to` should be UNIX time (in seconds) from 7 days before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n"
        in: query
        name: period
        required: true
        schema:
          enum:
          - month
          - day
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AirAggregatedStatsResponse'
                type: array
          description: OK.
        '400':
          description: Bad request.
      security:
      - api_key: []
        api_token: []
      summary: Get Air Usage Report of an Operator.
      tags:
      - Stats
      x-soracom-cli:
      - stats air operators get
  /stats/air/operators/{operator_id}/export:
    post:
      description: 'Download the Air Data Traffic Actual Data CSV file that contains the usage report of all the IoT SIMs for the specified operator.


        **Warning**: If there is no data usage during the specified period, a CSV file with only a header row will be output.

        **Info**: You can also check the data usage of terminated IoT SIMs.

        '
      operationId: exportAirStats
      parameters:
      - description: Operator ID. The operator ID can be obtained from the [Operator:getOperator API](#!/Operator/getOperator).
        in: path
        name: operator_id
        required: true
        schema:
          type: string
      - description: 'Specify how to obtain the URL to download the Air Data Usage Report CSV.


          - `async`: Get the `exportedFieldId` without waiting for the URL to be issued on the Soracom platform. Specify this `exportedFieldId` in [Files:getExportedFile API](#!/Files/getExportedFile) to get the URL. If the file size of the Air Data Usage Report CSV is huge, specify `async`.

          - `sync` (default): Wait for the URL to be issued on the Soracom platform. However, if the file size of the Air Data Usage Report CSV is huge, it may time out and the URL cannot be retrieved. If the timeout occurs, specify `async`.

          '
        in: query
        name: export_mode
        required: false
        schema:
          enum:
          - async
          - sync
          type: string
      requestBody:
        content:
          application/json:
            example:
              from: 1709218800
              period: month
              to: 1714402800
            schema:
              $ref: '#/components/schemas/ExportRequest'
        description: Period and aggregation unit of the data to be exported.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                (1) export_mode=async:
                  description: 'By specifying this `exportedFieldId` in the [Files:getExportedFile API](#!/Files/getExportedFile), you can obtain the URL for downloading. Access the URL and download the CSV file.

                    '
                  value:
                    exportedFileId: fe_xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                    exportedFilePath: //files/exported/fe_xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                (2) export_mode=sync:
                  description: '`url` is the URL for downloading. Access the URL and download the CSV file.


                    Example command:


                    ```bash

                    $ wget -O export.csv "https://soracom-xxxxxxxx-...."

                    ```

                    '
                  value:
                    url: https://soracom-xxxxxxxx-....
              schema:
                $ref: '#/components/schemas/FileExportResponse'
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Export Air Usage Report of All Subscribers
      tags:
      - Stats
      x-soracom-cli:
      - stats air export
  /stats/air/sims/{sim_id}:
    get:
      description: 'Retrieves the usage report for the SIM specified by the SIM ID.


        **Warning**: The data traffic of the terminated IoT SIM cannot be confirmed.

        '
      operationId: getAirStatsOfSim
      parameters:
      - description: SIM ID of the target SIM. The SIM ID can be obtained from the [Sim:listSims API](#!/Sim/listSims).
        in: path
        name: sim_id
        required: true
        schema:
          type: string
      - description: Specify the start month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: Specify the end month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: "Unit of aggregation.\n\n- `month`: Aggregate by month.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Aggregate by day.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n- `minutes`: Aggregate by approximately every 5 minutes.\n\n  The `from` and `to` must be between 32 days before the current time and the UNIX time (in seconds) of the current time. The actual period to be aggregated is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual Start Time | Start time of approximately 5 minutes including the specified UNIX time (seconds). |\n  | Actual End Time | End time of approximately 5 minutes including the specified UNIX time (seconds). |\n"
        in: query
        name: period
        required: true
        schema:
          enum:
          - month
          - day
          - minutes
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AirStatsResponse'
                type: array
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Get Air Usage Report of SIM.
      tags:
      - Stats
      x-soracom-cli:
      - stats air sims get
  /stats/air/subscribers/{imsi}:
    get:
      description: 'Retrieves the usage report for the subscriber specified by the IMSI.


        **Warning**: The data traffic of the terminated IoT SIM cannot be confirmed.

        '
      operationId: getAirStats
      parameters:
      - description: The target IMSI. The IMSI can be obtained from the [Sim:listSims API](#!/Sim/listSims).
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Specify the start month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: Specify the end month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: "Unit of aggregation.\n\n- `month`: Aggregate by month.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Aggregate by day.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n- `minutes`: Aggregate by approximately every 5 minutes.\n\n  The `from` and `to` must be between 32 days before the current time and the UNIX time (in seconds) of the current time. The actual period to be aggregated is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual Start Time | Start time of approximately 5 minutes including the specified UNIX time (seconds). |\n  | Actual End Time | End time of approximately 5 minutes including the specified UNIX time (seconds). |\n"
        in: query
        name: period
        required: true
        schema:
          enum:
          - month
          - day
          - minutes
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AirStatsResponse'
                type: array
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Get Air Usage Report of Subscriber.
      tags:
      - Stats
      x-soracom-cli:
      - stats air get
  /stats/beam/operators/{operator_id}/export:
    post:
      description: Retrieves a file containing the Soracom Beam usage report of all subscribers for the specified operator. The report data range is specified with from, to in unixtime. The report contains monthly data. The file output destination is AWS S3. The file output format is CSV.
      operationId: exportBeamStats
      parameters:
      - description: Operator ID
        in: path
        name: operator_id
        required: true
        schema:
          type: string
      - description: export_mode (async, sync)
        in: query
        name: export_mode
        required: false
        schema:
          enum:
          - async
          - sync
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
        description: Export time period.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileExportResponse'
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Export Beam Usage Report of All Subscribers
      tags:
      - Stats
      x-soracom-cli:
      - stats beam export
  /stats/beam/subscribers/{imsi}:
    get:
      description: Retrieves the Soracom Beam usage report for the subscriber specified by the IMSI.
      operationId: getBeamStats
      parameters:
      - description: imsi
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Specify the start month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: Specify the end month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: "Unit of aggregation.\n\n- `month`: Aggregate by month.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Aggregate by day.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n- `minutes`: Aggregate by approximately every 5 minutes.\n\n  The `from` and `to` must be between 32 days before the current time and the UNIX time (in seconds) of the current time. The actual period to be aggregated is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual Start Time | Start time of approximately 5 minutes including the specified UNIX time (seconds). |\n  | Actual End Time | End time of approximately 5 minutes including the specified UNIX time (seconds). |\n"
        in: query
        name: period
        required: true
        schema:
          enum:
          - month
          - day
          - minutes
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BeamStatsResponse'
                type: array
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Get Beam Usage Report of Subscriber
      tags:
      - Stats
      x-soracom-cli:
      - stats beam get
  /stats/funk/operators/{operator_id}/export:
    post:
      description: Retrieves a file containing the Soracom Funk usage report of all subscribers for the specified operator. The report data range is specified with from, to in unixtime. The report contains monthly data. The file output destination is AWS S3. The file output format is CSV.
      operationId: exportFunkStats
      parameters:
      - description: Operator ID
        in: path
        name: operator_id
        required: true
        schema:
          type: string
      - description: export_mode (async, sync)
        in: query
        name: export_mode
        required: false
        schema:
          enum:
          - async
          - sync
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
        description: Export time period.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileExportResponse'
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Export Funk Usage Report of All Subscribers
      tags:
      - Stats
      x-soracom-cli:
      - stats funk export
  /stats/funk/subscribers/{imsi}:
    get:
      description: Retrieves the Soracom Funk usage report for the subscriber specified by the IMSI.
      operationId: getFunkStats
      parameters:
      - description: imsi
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Specify the start month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: Specify the end month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: "Unit of aggregation.\n\n- `month`: Aggregate by month.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Aggregate by day.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n- `minutes`: Aggregate by approximately every 5 minutes.\n\n  The `from` and `to` must be between 32 days before the current time and the UNIX time (in seconds) of the current time. The actual period to be aggregated is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual Start Time | Start time of approximately 5 minutes including the specified UNIX time (seconds). |\n  | Actual End Time | End time of approximately 5 minutes including the specified UNIX time (seconds). |\n"
        in: query
        name: period
        required: true
        schema:
          enum:
          - month
          - day
          - minutes
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FunkStatsResponse'
                type: array
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Get Funk Usage Report of Subscriber
      tags:
      - Stats
      x-soracom-cli:
      - stats funk get
  /stats/funnel/operators/{operator_id}/export:
    post:
      description: Retrieves a file containing the Soracom Funnel usage report of all subscribers for the specified operator. The report data range is specified with from, to in unixtime. The report contains monthly data. The file output destination is AWS S3. The file output format is CSV.
      operationId: exportFunnelStats
      parameters:
      - description: Operator ID
        in: path
        name: operator_id
        required: true
        schema:
          type: string
      - description: export_mode (async, sync)
        in: query
        name: export_mode
        required: false
        schema:
          enum:
          - async
          - sync
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
        description: Export time period.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileExportResponse'
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Export Funnel Usage Report of All Subscribers
      tags:
      - Stats
      x-soracom-cli:
      - stats funnel export
  /stats/funnel/subscribers/{imsi}:
    get:
      description: Retrieves the Soracom Funnel usage report for the subscriber specified by the IMSI.
      operationId: getFunnelStats
      parameters:
      - description: imsi
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Specify the start month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: Specify the end month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: "Unit of aggregation.\n\n- `month`: Aggregate by month.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Aggregate by day.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n- `minutes`: Aggregate by approximately every 5 minutes.\n\n  The `from` and `to` must be between 32 days before the current time and the UNIX time (in seconds) of the current time. The actual period to be aggregated is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual Start Time | Start time of approximately 5 minutes including the specified UNIX time (seconds). |\n  | Actual End Time | End time of approximately 5 minutes including the specified UNIX time (seconds). |\n"
        in: query
        name: period
        required: true
        schema:
          enum:
          - month
          - day
          - minutes
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FunnelStatsResponse'
                type: array
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Get Funnel Usage Report of Subscriber
      tags:
      - Stats
      x-soracom-cli:
      - stats funnel get
  /stats/harvest/operators/{operator_id}:
    get:
      description: Retrieves the Soracom Harvest usage report for the operator.
      operationId: getHarvestExportedDataStats
      parameters:
      - description: Operator ID
        in: path
        name: operator_id
        required: true
        schema:
          type: string
      - description: Specify the year and month from 18 months before the current time to the current time in the YYYYMM format.
        in: query
        name: year_month
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HarvestExportedDataStatsResponse'
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Get 'Harvest usage report' for the specified operator.
      tags:
      - Stats
      x-soracom-cli:
      - stats harvest operators get
  /stats/harvest/operators/{operator_id}/export:
    post:
      description: 'Download the Harvest Data Write Count Results Data CSV file that contains the usage report of all the IoT SIMs for the specified operator.


        **Info**: You can also check the Harvest Data write counts of the terminated IoT SIM.

        '
      operationId: exportHarvestStats
      parameters:
      - description: Operator ID.
        in: path
        name: operator_id
        required: true
        schema:
          type: string
      - description: 'Specify how to obtain the URL to download the Harvest Data Write Count Results Data CSV.


          - `async`: Get the `exportedFieldId` without waiting for the URL to be issued on the Soracom platform. Specify this `exportedFieldId` in [Files:getExportedFile API](#!/Files/getExportedFile) to get the URL for downloading. If the file size of the Harvest Data Write Count Results Data CSV is huge, specify `async`.

          - `sync` (default): Wait for the URL for downloading to be issued on the Soracom platform. However, if the file size of the Harvest Data Write Count Results Data CSV is huge, it may time out and the URL cannot be retrieved. If the timeout occurs, specify `async`.

          '
        in: query
        name: export_mode
        required: false
        schema:
          enum:
          - async
          - sync
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
        description: Export time period.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileExportResponse'
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Export Harvest Data Write Counts Report of all IoT SIMs
      tags:
      - Stats
      x-soracom-cli:
      - stats harvest export
  /stats/harvest/subscribers/{imsi}:
    get:
      description: Retrieves the Soracom Harvest usage report for the subscriber specified by the IMSI.
      operationId: getHarvestStats
      parameters:
      - description: imsi
        in: path
        name: imsi
        required: true
        schema:
          type: string
      - description: Specify the start month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: Specify the end month/day/minute of the period to be aggregated in UNIX time in seconds.
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: "Unit of aggregation.\n\n- `month`: Aggregate by month.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Aggregate by day.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n- `minutes`: Aggregate by approximately every 5 minutes.\n\n  The `from` and `to` must be between 32 days before the current time and the UNIX time (in seconds) of the current time. The actual period to be aggregated is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual Start Time | Start time of approximately 5 minutes including the specified UNIX time (seconds). |\n  | Actual End Time | End time of approximately 5 minutes including the specified UNIX time (seconds). |\n"
        in: query
        name: period
        required: true
        schema:
          enum:
          - month
          - day
          - minutes
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HarvestStatsResponse'
                type: array
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Get Harvest Usage Report of Subscriber
      tags:
      - Stats
      x-soracom-cli:
      - stats harvest subscribers get
  /stats/napter/audit_logs:
    get:
      description: Get Napter audit logs' monthly exported data stats.
      operationId: getNapterAuditLogsExportedDataStats
      parameters:
      - description: Specify the year and month from 18 months before the current time to the current time in the YYYYMM format.
        in: query
        name: year_month
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NapterAuditLogsExportedDataStatsResponse'
          description: OK.
      security:
      - api_key: []
        api_token: []
      summary: Get Napter audit logs' monthly exported data stats.
      tags:
      - Stats
      x-soracom-cli:
      - stats napter audit-logs get
components:
  schemas:
    FunnelStatsResponse:
      properties:
        funnelStatsMap:
          additionalProperties:
            $ref: '#/components/schemas/SoracomFunnelStats'
          type: object
        unixtime:
          format: int64
          type: integer
      type: object
    SoracomFunkStats:
      properties:
        count:
          format: int64
          type: integer
      type: object
    HarvestStatsResponse:
      properties:
        harvestStatsMap:
          additionalProperties:
            $ref: '#/components/schemas/SoracomHarvestStats'
          type: object
        unixtime:
          format: int64
          type: integer
      type: object
    BeamStatsResponse:
      properties:
        beamStatsMap:
          additionalProperties:
            $ref: '#/components/schemas/SoracomBeamStats'
          type: object
        date:
          type: string
        unixtime:
          format: int64
          type: integer
      type: object
    NapterAuditLogsExportedDataStatsResponse:
      properties:
        exportedBytes:
          description: exportedBytes
          type: integer
        yearMonth:
          description: yearMonth
          type: string
      type: object
    FunkStatsResponse:
      properties:
        funkStatsMap:
          additionalProperties:
            $ref: '#/components/schemas/SoracomFunkStats'
          type: object
        unixtime:
          format: int64
          type: integer
      type: object
    FileExportResponse:
      properties:
        exportedFileId:
          description: File Export ID. Specify this ID when calling [Files:getExportedFile API](#!/Files/getExportedFile) to get the URL to download the file. Included only if `export_mode` is `async`.
          type: string
        exportedFilePath:
          description: Path of the exported file. Included only if `export_mode` is `async`.
          type: string
        url:
          description: URL to download the file. Included only if `export_mode` is `sync`.
          type: string
      type: object
    SoracomFunnelStats:
      properties:
        count:
          format: int64
          type: integer
      type: object
    HarvestExportedDataStatsResponse:
      properties:
        exportedBytes:
          description: exportedBytes
          type: integer
        yearMonth:
          description: yearMonth
          type: string
      type: object
    AirAggregatedStatsResponse:
      properties:
        downloadByteSizeTotal:
          description: Number of bytes downloaded during the period covered by the aggregate
          format: int64
          type: integer
        unixtime:
          description: Start date and time of the period under consideration (UNIX time in seconds)
          format: int64
          type: integer
        uploadByteSizeTotal:
          description: Number of bytes uploaded during the period covered by the aggregate
          format: int64
          type: integer
      type: object
    SoracomBeamStats:
      properties:
        count:
          format: int64
          type: integer
      type: object
    DataTrafficStats:
      properties:
        downloadByteSizeTotal:
          format: int64
          type: integer
        downloadPacketSizeTotal:
          format: int64
          type: integer
        uploadByteSizeTotal:
          format: int64
          type: integer
        uploadPacketSizeTotal:
          format: int64
          type: integer
      type: object
    ExportRequest:
      properties:
        from:
          description: Specify the start month/day/minute of the period to be aggregated in UNIX time in seconds.
          example: 1709218800
          format: int64
          type: integer
        period:
          description: "Unit of aggregation.\n\n- `month`: Aggregate by month.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 on the first day of the month, including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the last day of the month containing the specified UNIX time (in seconds). |\n- `day`: Aggregate by day.\n\n  The `from` and `to` should be UNIX time (in seconds) from 18 months before the current time to the current time. The actual period of interest is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual start time | 00:00:00 of the day including the specified UNIX time (in seconds). |\n  | Actual end time | 24:00:00 of the day including the specified UNIX time (in seconds). |\n- `minutes`: Aggregate by approximately every 5 minutes.\n\n  The `from` and `to` must be between 32 days before the current time and the UNIX time (in seconds) of the current time. The actual period to be aggregated is not the time specified by `from` and `to`.\n\n  | Item | Description |\n  |-|-|\n  | Actual Start Time | Start time of approximately 5 minutes including the specified UNIX time (seconds). |\n  | Actual End Time | End time of approximately 5 minutes including the specified UNIX time (seconds). |\n"
          enum:
          - month
          - day
          - minutes
          type: string
        to:
          description: Specify the end month/day/minute of the period to be aggregated in UNIX time in seconds.
          example: 1714402800
          format: int64
          type: integer
      type: object
    AirStatsResponse:
      properties:
        dataTrafficStatsMap:
          additionalProperties:
            $ref: '#/components/schemas/DataTrafficStats'
          type: object
        date:
          description: Date and time (Coordinated Universal Time (UTC))
          type: string
        unixtime:
          format: int64
          type: integer
      type: object
    SoracomHarvestStats:
      properties:
        count:
          format: int64
          type: integer
      type: object
  securitySchemes:
    api_key:
      description: 'API key for authentication. Obtain this from the Soracom User Console or via the Auth API.

        Required in combination with an API token for all authenticated requests.

        '
      in: header
      name: X-Soracom-API-Key
      type: apiKey
    api_token:
      description: 'API token for authentication. This token has an expiration time and must be refreshed periodically.

        Required in combination with an API key for all authenticated requests.'
      in: header
      name: X-Soracom-Token
      type: apiKey
