openapi: 3.2.0
info:
  description: SORACOM SANDBOX API v1
  title: 'SORACOM SANDBOX API Sandbox: Coupon API'
  version: 20230923-005714
servers:
- url: https://api-sandbox.soracom.io/v1
tags:
- name: 'API Sandbox: Coupon'
paths:
  /sandbox/coupons/create:
    post:
      description: Creates a coupon.
      operationId: sandboxCreateCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandboxCreateCouponRequest'
        description: request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sandboxCreateCouponResponse'
          description: OK
        '400':
          description: Request is not correct.
      security:
      - api_key: []
        api_token: []
      summary: Creates a coupon
      tags:
      - 'API Sandbox: Coupon'
      x-soracom-cli:
      - sandbox coupons create
components:
  schemas:
    sandboxCreateCouponResponse:
      properties:
        amount:
          description: Coupon amount.
          format: double
          type: number
        balance:
          description: Balance.
          format: double
          type: number
        billItemName:
          description: Bill Item.
          type: string
        couponCode:
          description: Coupon code.
          type: string
        expiryYearMonth:
          description: Year and month of expiration.
          format: yyyyMM
          type: string
      type: object
    sandboxCreateCouponRequest:
      properties:
        amount:
          example: 1000
          format: int32
          type: integer
        applicableBillItemName:
          enum:
          - dailyDataTrafficChargeTotal
          - dailyChargeTotal
          - dailySoracomBeamRequestChargeTotal
          example: dailyDataTrafficChargeTotal
          type: string
        expiryYearMonth:
          format: yyyyMM
          type: string
      type: object
